In [1]:
text = '''
전국 언론 노동자들이 시민사회단체와 함께 네이버의 지역 차별을 규탄하고 개선을 촉구하는 무기한 릴레이 시위에 돌입했다.

전국언론노조와 전국 민주언론시민연합(민언련)은 1일 오전 11시 30분 경기도 성남시의 네이버 본사(그린팩토리) 앞에서 1인 시위를 시작했다. 이날 시위에는 오정훈 전국언론노동조합위원장, 전대식 지역신문노동조합협의회 의장(부산일보 지부장), 김명래 경인일보지부장, 민진영 경기민주언론시민연합 사무처장 등이 참여했다.

이들은 1인 시위를 통해 ‘네이버 뉴스 서비스 지역 언론 배제 개선’을 요구하고 ‘지역 공론장 형성을 위한 네이버의 공적 책임’을 촉구했다. 전국언론노조와 민언련은 매주 월요일마다 네이버 본사 앞 시위를 진행할 예정이다.

네이버는 최근 뉴스 서비스에 인공지능 에어스(AiRS) 알고리즘을 적용하는 방식으로 뉴스 편집 기능을 개편했다. 이후 지역 언론사 뉴스의 노출이 현격하게 줄어들었다. 아울러 100여 개 모바일 콘텐츠 제휴 언론사 중 독자가 구독을 선택할 수 있는 ‘채널’ 제휴사 44곳을 선정했는데 이 과정에서 지역 언론을 철저하게 배제했다. 이에 반발해 전국언론노조뿐 아니라 한국지방신문협회, 대한민국지방신문협의회 등 지역 신문 단체도 공동 성명을 발표하며 개선을 요구하고 나섰다. 전국시도의회의장협의회는 최근 총회에서 ‘네이버 지역 언론 배제 반대 성명’을 채택하기도 했다. 하지만 이 같은 반발에도 네이버는 뚜렷한 해결책을 내지 않고 있다.

오정훈 위원장은 1인 시위에서 “네이버는 해결책을 내놓기는커녕 뉴스제휴평가위원회에만 책임을 떠넘기고 있다”며 “지역 언론 배제 문제의 해결을 위한 대화 요구에 즉각 응답해 뉴스 유통사업자로서의 사회적 역할을 수행해야 한다”고 촉구했다.

전대식 의장은 “2005년 당시 네이버는 모든 언론사에 뉴스 유통망을 제공하는 우군이었지만 15년 만에 갑질하고 횡포하는 기업으로 전락했다”며 “지역 언론 종사자들이 만든 콘텐츠가 네이버에서 사라진 현실을 놓고 대화하고 상생적으로 풀어야 한다”면서 협의 창구 개설을 요구했다.

민언련은 국내 1위 포털 네이버가 지역 공론장을 만드는 사회적 책임을 외면하는 것은 현 정부의 지방분권 강화 정책에 위배되는 것이라고 지적했다.

민진영 사무처장은 “네이버가 지역신문에 대한 보도를 배제하고 시민들과의 소통 창구를 차단하는 것은 현 정부 정책인 지방분권 강화, 민주주의 정착이라는 큰 의제를 거역하는 것”이라며 “이런 행태는 반드시 중단돼야 하고 다양한 소식들이 소비자와 시민에게 전달돼야 한다”고 강조했다.

출처 : 제주新보(http://www.jejunews.com)
'''

In [6]:
import re

len(re.findall('네이버', text))

13

In [16]:
text = 'I like orange! I like orange!'

In [10]:
re.findall(r'^I like', text)

['I like']

In [17]:
re.findall(r'orange!$', text)

['orange!']

In [18]:
text = "I like orange! 200$ I like orange! 200$"

In [19]:
re.findall('\$', text)

['$', '$']

In [20]:
re.findall(r'.', text)

['I',
 ' ',
 'l',
 'i',
 'k',
 'e',
 ' ',
 'o',
 'r',
 'a',
 'n',
 'g',
 'e',
 '!',
 ' ',
 '2',
 '0',
 '0',
 '$',
 ' ',
 'I',
 ' ',
 'l',
 'i',
 'k',
 'e',
 ' ',
 'o',
 'r',
 'a',
 'n',
 'g',
 'e',
 '!',
 ' ',
 '2',
 '0',
 '0',
 '$']

In [22]:
re.findall(r'....', text)

['I li', 'ke o', 'rang', 'e! 2', '00$ ', 'I li', 'ke o', 'rang', 'e! 2']

In [23]:
re.findall(r'[orn]', text)

['o', 'r', 'n', 'o', 'r', 'n']

In [24]:
re.findall(r'[orn][orn].', text)

['ora', 'ora']

In [33]:
text = "I like Onange! 200$ I like ocange! 200$"

In [28]:
re.findall(r'[orn][orn].', text)

['ona']

In [29]:
re.findall(r'[0-9]', text)

['2', '0', '0', '2', '0', '0']

In [30]:
re.findall(r'[0123456789]', text)

['2', '0', '0', '2', '0', '0']

In [34]:
re.findall(r'[a-z]', text)

['l',
 'i',
 'k',
 'e',
 'n',
 'a',
 'n',
 'g',
 'e',
 'l',
 'i',
 'k',
 'e',
 'o',
 'c',
 'a',
 'n',
 'g',
 'e']

In [44]:
text = "I like orange! 200$ 오렌지! 200$"

In [37]:
re.findall(r'[가-힣]', text)

['오', '렌', '지']

In [45]:
re.findall(r'[^A-Za-z]',text)

[' ',
 ' ',
 '!',
 ' ',
 '2',
 '0',
 '0',
 '$',
 ' ',
 '오',
 '렌',
 '지',
 '!',
 ' ',
 '2',
 '0',
 '0',
 '$']

In [49]:
re.findall(r'(orange|like)', text)

['like', 'orange']

In [53]:
text = "I like orange! abc I like orange! ac ng"

In [51]:
re.findall(r'a.c', text)

['abc']

In [52]:
re.findall(r'a.?c', text)

['abc', 'ac']

In [55]:
re.findall(r'a?ng', text)

['ang', 'ang', 'ng']

In [56]:
text = "I like orange! abc I like orange! ac abbbc"

In [57]:
re.findall(r'ab*c', text)

['abc', 'ac', 'abbbc']

In [58]:
re.findall(r'ab+c', text)

['abc', 'abbbc']

In [59]:
re.findall('[^ ]+', text)

['I', 'like', 'orange!', 'abc', 'I', 'like', 'orange!', 'ac', 'abbbc']

In [60]:
text.split()

['I', 'like', 'orange!', 'abc', 'I', 'like', 'orange!', 'ac', 'abbbc']

In [61]:
re.findall(r'a[bd]*c', text)

['abc', 'ac', 'abbbc']

In [62]:
re.findall(r'.{5}', text)

['I lik', 'e ora', 'nge! ', 'abc I', ' like', ' oran', 'ge! a', 'c abb']

In [63]:
text = "abcc abc ab bab abccabcabd"

In [65]:
re.findall(r'[abc]{3}', text)

['abc', 'abc', 'bab', 'abc', 'cab', 'cab']

In [66]:
text = "I like orange! 200$ I like orange! 200$ "

In [67]:
re.findall(r'\w', text)

['I',
 'l',
 'i',
 'k',
 'e',
 'o',
 'r',
 'a',
 'n',
 'g',
 'e',
 '2',
 '0',
 '0',
 'I',
 'l',
 'i',
 'k',
 'e',
 'o',
 'r',
 'a',
 'n',
 'g',
 'e',
 '2',
 '0',
 '0']

In [68]:
re.findall(r'\d', text)

['2', '0', '0', '2', '0', '0']

In [76]:
numbers = """
010-2334-3234
02-302-3033
010-1321-4043
02-01-32
33-3303-3033
016-444-3042
"""

In [80]:
results = re.findall(r"\d{3}-\d{3,4}-\d{4}", numbers)
results

['010-2334-3234', '010-1321-4043', '016-444-3042']

In [89]:
results = re.finditer(r"\d{3}-\d{3,4}-\d{4}", numbers)
results = list(results)

In [93]:
for result in results:
    print(result.span())

(1, 14)
(27, 40)
(63, 75)

In [94]:
text = """
[앵커]

바로 좀 팩트체크를 해 보겠습니다. 제모를 하면 마약검사에서 빠져나갈 수 있다. 연예인 마약사건과 맞물려서 이런 글들이 온라인에서 확산됐습니다. 수사기법을 비웃는 듯한 내용입니다. 팩트체크팀이 국립과학수사연구원의 도움을 받아서 확인을 했습니다. 결론은 마약 성분은 체모 외에도 온몸을 흔적을 남긴다는 겁니다.
오대영 기자 나와 있습니다. 구체적으로 어떤 글들이 퍼져 있습니까?

[기자]

전신 제모를 하면 문제가 없다. 염색, 탈색을 하면 된다. 눈썹은 검사해도 소용없다 등의 내용입니다.
포털사이트에서 마약 검사라고 검색을 하면 모발 검사 안 걸리는 법이라는 연관 검색어까지 뜹니다.
"""

In [97]:
print(re.sub(r'[\[\]?.,]', "", text))

앵커

바로 좀 팩트체크를 해 보겠습니다 제모를 하면 마약검사에서 빠져나갈 수 있다 연예인 마약사건과 맞물려서 이런 글들이 온라인에서 확산됐습니다 수사기법을 비웃는 듯한 내용입니다 팩트체크팀이 국립과학수사연구원의 도움을 받아서 확인을 했습니다 결론은 마약 성분은 체모 외에도 온몸을 흔적을 남긴다는 겁니다
오대영 기자 나와 있습니다 구체적으로 어떤 글들이 퍼져 있습니까

기자

전신 제모를 하면 문제가 없다 염색 탈색을 하면 된다 눈썹은 검사해도 소용없다 등의 내용입니다
포털사이트에서 마약 검사라고 검색을 하면 모발 검사 안 걸리는 법이라는 연관 검색어까지 뜹니다

In [98]:
emails = """
jkilee@gmail.com
kttredef@naver.com
akdef!aa.com
adekik@best.kr
abkereff@aacde
adefgree@korea.co.kr
"""

In [111]:
valid_email = []
for email in emails.split("\n"):
    matched = re.search('[a-zA-Z].*@[a-zA-Z]+\.[a-zA-Z]+', email)
    if matched:
        print(matched.group())

jkilee@gmail.com
kttredef@naver.com
adekik@best.kr
adefgree@korea.co.kr

In [124]:
text =  '''안녕하세요 저는 <em>홍길동</em> 입니다. 나이는 24살 세계 최고의 <a href="aa.aa.com">데이터 분석가</a>가 되고싶습니다.'''

In [113]:
print(re.sub(r'[\<>="."/A-Za-z]', "", text))

안녕하세요 저는 홍길동 입니다 나이는 24살 세계 최고의  데이터 분석가가 되고싶습니다

In [132]:
result=re.sub("<.+?>","", text)
result

'안녕하세요 저는 홍길동 입니다. 나이는 24살 세계 최고의 데이터 분석가가 되고싶습니다.'

In [115]:
s = "{word}}"

In [129]:
re.match(r"\{\S+?\}", s)

In [125]:
result=re.sub("<[^>]+>","", text)
result

'안녕하세요 저는 홍길동 입니다. 나이는 24살 세계 최고의 데이터 분석가가 되고싶습니다.'

In [133]:
import requests
from bs4 import BeautifulSoup

In [137]:
URL = "https://scrapying-study.firebaseapp.com/03/"
response = requests.get(URL)
soup = BeautifulSoup(response.text,"html.parser")
result = []
li_list = soup.select("#popularItemList > li")
for li in li_list:
#     print(li.select_one('img').attrs['alt'][0])
    result.append([li.select_one('a').text, li.attrs['class'][0].replace("up", "상한").replace("dn", "하한")])
    
result

[['써니전자', '상한'],
 ['삼성전자', '하한'],
 ['안랩', '상한'],
 ['케이엠더블..', '상한'],
 ['피피아이', '상한'],
 ['KT&G', '하한'],
 ['삼성전자우', '상한'],
 ['대양금속', '하한'],
 ['SK하이닉스', '상한'],
 ['SK텔레콤', '하한']]

In [142]:
response = requests.get(URL)
soup = BeautifulSoup(response.text,"html.parser")
result = []
li_list = soup.select("ul.lst_major > li")
for li in li_list:
    result.append([li.select_one('a').text, li.attrs['class'][0].replace("up", "상한").replace("dn", "하한")])
    
result

[['다우산업', '상한'],
 ['나스닥', '상한'],
 ['홍콩H', '상한'],
 ['상해종합', '상한'],
 ['니케이225', '하한']]

In [145]:
result = []
li_list = soup.select("#popularItemList > li")
for li in li_list:
    if li.attrs['class'][0] == 'up':
        result.append([li.select_one('a').text, li.select_one('span').text])
    
print(result)
result = []
li_list = soup.select("ul.lst_major > li")
for li in li_list:
    if li.attrs['class'][0] == 'up':
        result.append([li.select_one('a').text, li.select_one('span').text])
    
print(result)

[['써니전자', '5,000'], ['안랩', '81,000'], ['케이엠더블..', '57,300'], ['피피아이', '12,600'], ['삼성전자우', '45,600'], ['SK하이닉스', '94,700']]
[['다우산업', '28,647.43'], ['나스닥', '9,015.03'], ['홍콩H', '11,320.56'], ['상해종합', '3,085.20']]

~~~
[{'이름': 'H하우스장위',  '분양가': '16000',  '유형': '아파트',  '분양유형': '일반민간임대',  '세대수': '분양 134세대',  '평형': '45㎡~65㎡'},
 {'이름': '고덕리엔파크2단지 장기전세',  '분양가': '38400',  '유형': '아파트',  '분양유형': '장기전세주택',  '세대수': '분양 1세대',  '평형': '149㎡'},
 {'이름': '신정이펜하우스3단지 장기전세',  '분양가': '39040',  '유형': '아파트',  '분양유형': '장기전세주택',  '세대수': '분양 1세대',  '평형': '148㎡'},
 {'이름': '천왕이펜하우스2단지 장기전세',  '분양가': '38240',  '유형': '아파트',  '분양유형': '장기전세주택',  '세대수': '분양 1세대',  '평형': '142㎡'},
 {'이름': '송파파크데일2단지 장기전세',  '분양가': '45600',  '유형': '아파트',  '분양유형': '장기전세주택',  '세대수': '분양 1세대',  '평형': '150㎡'}]
~~~

In [179]:

URL = "https://scrapying-study.firebaseapp.com/03/"
response = requests.get(URL)
soup = BeautifulSoup(response.text,"html.parser")
result = []

li_list = soup.select("ul._sale_list > li")

total = []

for li in li_list:
    result = {}
    result['이름'] = li.select_one("a").text
    
    dds = li.select_one("dl.detail_info").select("dd")
    result['분양가'] = "".join(re.findall(r"\d", dds[0].text))
  
    types = dds[1].text.split("|")
    result['유형'] = types[0]
    result['분양유형'] = types[1]

    sizes = dds[2].text.split("|")
    result['세대수'] = sizes[0]
    result['평형'] = sizes[1]
    
    total.append(result)
    

total

[{'이름': 'H하우스장위',
  '분양가': '16000',
  '유형': '아파트',
  '분양유형': '일반민간임대',
  '세대수': '분양 134세대',
  '평형': '45㎡~65㎡'},
 {'이름': '고덕리엔파크2단지 장기전세',
  '분양가': '38400',
  '유형': '아파트',
  '분양유형': '장기전세주택',
  '세대수': '분양 1세대',
  '평형': '149㎡'},
 {'이름': '신정이펜하우스3단지 장기전세',
  '분양가': '39040',
  '유형': '아파트',
  '분양유형': '장기전세주택',
  '세대수': '분양 1세대',
  '평형': '148㎡'},
 {'이름': '천왕이펜하우스2단지 장기전세',
  '분양가': '38240',
  '유형': '아파트',
  '분양유형': '장기전세주택',
  '세대수': '분양 1세대',
  '평형': '142㎡'},
 {'이름': '송파파크데일2단지 장기전세',
  '분양가': '45600',
  '유형': '아파트',
  '분양유형': '장기전세주택',
  '세대수': '분양 1세대',
  '평형': '150㎡'}]

In [184]:
url = "https://movie.naver.com/movie/sdb/rank/rmovie.nhn"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")
result = soup.select('.list_ranking tr>td.title a')
for i, v in enumerate(result):
    print(i + 1, v.text)

1 조제
2 원더 우먼 1984
3 이웃사촌
4 도굴
5 언플랜드
6 런
7 러브 액츄얼리
8 극장판 바이올렛 에버가든
9 800
10 호프
11 리플레이
12 테넷
13 개 같은 것들
14 퍼스트 러브
15 콜
16 삼진그룹 영어토익반
17 미드나이트 스카이
18 발레리안: 천 개 행성의 도시
19 더 프롬
20 잔칫날
21 블랙 위도우
22 스웨그
23 덩케르크
24 라이어트: 기계들의 역습
25 러브레터
26 나이팅게일
27 파티마의 기적
28 뱅가드
29 인터스텔라
30 조제, 호랑이 그리고 물고기들
31 애비규환
32 모텔리어
33 세트플레이
34 가나의 혼인잔치: 언약
35 집착
36 그날이 온다
37 그린 북
38 썸머 85
39 내 어깨 위 고양이, 밥 2
40 아카이브
41 뮤직 앤 리얼리티
42 국제수사
43 누군가 어디에서 나를 기다리면 좋겠다
44 소년시절의 너
45 화양연화
46 먼 훗날 우리
47 007 노 타임 투 다이
48 운디네
49 그린랜드
50 라라랜드

In [186]:
url = "https://finance.naver.com/sise/sise_quant.nhn"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")
result = soup.select('tbody')

In [206]:
import requests
from bs4 import BeautifulSoup
url = 'https://finance.naver.com/sise/sise_quant.nhn'
response = requests.get(url)
result=[]
soup = BeautifulSoup(response.text, "html.parser")
li_list= soup.select(".type_2 >tr")
for li in li_list:
    result.append(li.select("td").text)
result

[]
[]
[<a class="tltle" href="/item/main.nhn?code=252670">KODEX 200선물인버스2X</a>]
[<a class="tltle" href="/item/main.nhn?code=251340">KODEX 코스닥150선물인버스</a>]
[<a class="tltle" href="/item/main.nhn?code=004310">현대약품</a>]
[<a class="tltle" href="/item/main.nhn?code=214330">금호에이치티</a>]
[<a class="tltle" href="/item/main.nhn?code=122630">KODEX 레버리지</a>]
[]
[]
[]
[<a class="tltle" href="/item/main.nhn?code=233740">KODEX 코스닥150 레버리지</a>]
[<a class="tltle" href="/item/main.nhn?code=034220">LG디스플레이</a>]
[<a class="tltle" href="/item/main.nhn?code=007120">미래아이앤지</a>]
[<a class="tltle" href="/item/main.nhn?code=114800">KODEX 인버스</a>]
[<a class="tltle" href="/item/main.nhn?code=004410">서울식품</a>]
[]
[]
[]
[<a class="tltle" href="/item/main.nhn?code=001780">알루코</a>]
[<a class="tltle" href="/item/main.nhn?code=003520">영진약품</a>]
[<a class="tltle" href="/item/main.nhn?code=013700">까뮤이앤씨</a>]
[<a class="tltle" href="/item/main.nhn?code=012200">계양전기</a>]
[<a class="tltle" href="/item/main.nhn?code=093230">이아이디</a>]
[]
[]
[]
[<a class="tltle" href="/item/main.nhn?code=005930">삼성전자</a>]
[<a class="tltle" href="/item/main.nhn?code=002710">TCC스틸</a>]
[<a class="tltle" href="/item/main.nhn?code=092220">KEC</a>]
[<a class="tltle" href="/item/main.nhn?code=001440">대한전선</a>]
[<a class="tltle" href="/item/main.nhn?code=066570">LG전자</a>]
[]
[]
[]
[<a class="tltle" href="/item/main.nhn?code=017180">명문제약</a>]
[<a class="tltle" href="/item/main.nhn?code=011930">신성이엔지</a>]
[<a class="tltle" href="/item/main.nhn?code=229200">KODEX 코스닥 150</a>]
[<a class="tltle" href="/item/main.nhn?code=002720">국제약품</a>]
[<a class="tltle" href="/item/main.nhn?code=004270">남성</a>]
[]
[]
[]
[<a class="tltle" href="/item/main.nhn?code=010140">삼성중공업</a>]
[<a class="tltle" href="/item/main.nhn?code=028670">팬오션</a>]
[<a class="tltle" href="/item/main.nhn?code=092200">디아이씨</a>]
[<a class="tltle" href="/item/main.nhn?code=530031">삼성 레버리지 WTI원유 선물 ETN</a>]
[<a class="tltle" href="/item/main.nhn?code=365550">ESR켄달스퀘어리츠</a>]
[]
[]
[]
[<a class="tltle" href="/item/main.nhn?code=145210">세화아이엠씨</a>]
[<a class="tltle" href="/item/main.nhn?code=126560">현대퓨처넷</a>]
[<a class="tltle" href="/item/main.nhn?code=001470">삼부토건</a>]
[<a class="tltle" href="/item/main.nhn?code=015540">쎌마테라퓨틱스</a>]
[<a class="tltle" href="/item/main.nhn?code=069500">KODEX 200</a>]
[]
[]
[]
[<a class="tltle" href="/item/main.nhn?code=500019">신한 레버리지 WTI원유 선물 ETN(H)</a>]
[<a class="tltle" href="/item/main.nhn?code=033270">유나이티드제약</a>]
[<a class="tltle" href="/item/main.nhn?code=008700">아남전자</a>]
[<a class="tltle" href="/item/main.nhn?code=015760">한국전력</a>]
[<a class="tltle" href="/item/main.nhn?code=004770">써니전자</a>]
[]
[]
[]
[<a class="tltle" href="/item/main.nhn?code=009900">명신산업</a>]
[<a class="tltle" href="/item/main.nhn?code=014160">대영포장</a>]
[<a class="tltle" href="/item/main.nhn?code=003550">LG</a>]
[<a class="tltle" href="/item/main.nhn?code=003090">대웅</a>]
[<a class="tltle" href="/item/main.nhn?code=018880">한온시스템</a>]
[]
[]
[]
[<a class="tltle" href="/item/main.nhn?code=012280">영화금속</a>]
[<a class="tltle" href="/item/main.nhn?code=032640">LG유플러스</a>]
[<a class="tltle" href="/item/main.nhn?code=088350">한화생명</a>]
[<a class="tltle" href="/item/main.nhn?code=006110">삼아알미늄</a>]
[<a class="tltle" href="/item/main.nhn?code=077500">유니퀘스트</a>]
[]
[]
[]
[<a class="tltle" href="/item/main.nhn?code=005880">대한해운</a>]
[<a class="tltle" href="/item/main.nhn?code=024900">덕양산업</a>]
[<a class="tltle" href="/item/main.nhn?code=010660">화천기계</a>]
[<a class="tltle" href="/item/main.nhn?code=252710">TIGER 200선물인버스2X</a>]
[<a class="tltle" href="/item/main.nhn?code=204320">만도</a>]
[]
[]
[]
[<a class="tltle" href="/item/main.nhn?code=003000">부광약품</a>]
[<a class="tltle" href="/item/main.nhn?code=001510">SK증권</a>]
[<a class="tltle" href="/item/main.nhn?code=011200">HMM</a>]
[<a class="tltle" href="/item/main.nhn?code=093370">후성</a>]
[<a class="tltle" href="/item/main.nhn?code=003060">에이프로젠제약</a>]
[]
[]
[]
[<a class="tltle" href="/item/main.nhn?code=011280">태림포장</a>]
[<a class="tltle" href="/item/main.nhn?code=020560">아시아나항공</a>]
[<a class="tltle" href="/item/main.nhn?code=001120">LG상사</a>]
[<a class="tltle" href="/item/main.nhn?code=002870">신풍제지</a>]
[<a class="tltle" href="/item/main.nhn?code=018470">조일알미늄</a>]
[]
[]
[]
[<a class="tltle" href="/item/main.nhn?code=005110">한창</a>]
[<a class="tltle" href="/item/main.nhn?code=011070">LG이노텍</a>]
[<a class="tltle" href="/item/main.nhn?code=000990">DB하이텍</a>]
[<a class="tltle" href="/item/main.nhn?code=001360">삼성제약</a>]
[<a class="tltle" href="/item/main.nhn?code=000660">SK하이닉스</a>]
[]
[]
[]
[<a class="tltle" href="/item/main.nhn?code=000040">KR모터스</a>]
[<a class="tltle" href="/item/main.nhn?code=530036">삼성 인버스 2X WTI원유 선물 ETN</a>]
[<a class="tltle" href="/item/main.nhn?code=011000">진원생명과학</a>]
[<a class="tltle" href="/item/main.nhn?code=066575">LG전자우</a>]
[<a class="tltle" href="/item/main.nhn?code=005690">파미셀</a>]
[]
[]
[]
[<a class="tltle" href="/item/main.nhn?code=007460">에이프로젠 KIC</a>]
[<a class="tltle" href="/item/main.nhn?code=019170">신풍제약</a>]
[<a class="tltle" href="/item/main.nhn?code=002630">오리엔트바이오</a>]
[<a class="tltle" href="/item/main.nhn?code=034020">두산중공업</a>]
[<a class="tltle" href="/item/main.nhn?code=000890">보해양조</a>]
[]
[]
[]
[<a class="tltle" href="/item/main.nhn?code=047040">대우건설</a>]
[<a class="tltle" href="/item/main.nhn?code=011090">에넥스</a>]
[<a class="tltle" href="/item/main.nhn?code=033180">필룩스</a>]
[<a class="tltle" href="/item/main.nhn?code=000020">동화약품</a>]
[<a class="tltle" href="/item/main.nhn?code=010050">우리종금</a>]
[]
[]
[]
[<a class="tltle" href="/item/main.nhn?code=005935">삼성전자우</a>]
[<a class="tltle" href="/item/main.nhn?code=031820">콤텍시스템</a>]
[<a class="tltle" href="/item/main.nhn?code=139260">TIGER 200 IT</a>]
[<a class="tltle" href="/item/main.nhn?code=009830">한화솔루션</a>]
[<a class="tltle" href="/item/main.nhn?code=305720">KODEX 2차전지산업</a>]
[]
[]
[]
[<a class="tltle" href="/item/main.nhn?code=009460">한창제지</a>]
[<a class="tltle" href="/item/main.nhn?code=267770">TIGER 200선물레버리지</a>]
[<a class="tltle" href="/item/main.nhn?code=042670">두산인프라코어</a>]
[<a class="tltle" href="/item/main.nhn?code=004490">세방전지</a>]
[<a class="tltle" href="/item/main.nhn?code=009290">광동제약</a>]
[]
[]
[]
[<a class="tltle" href="/item/main.nhn?code=002760">보락</a>]
[<a class="tltle" href="/item/main.nhn?code=025750">한솔홈데코</a>]
[<a class="tltle" href="/item/main.nhn?code=015590">큐로</a>]
[<a class="tltle" href="/item/main.nhn?code=008350">남선알미늄</a>]
[<a class="tltle" href="/item/main.nhn?code=102280">쌍방울</a>]
[]
[]
[]