In [2]:
!pip install pymysql

Requirement already satisfied: pymysql in /Users/ronen/anaconda3/envs/mulcam/lib/python3.6/site-packages (0.10.1)

In [2]:
import pymysql

In [26]:
db = pymysql.connect(host='127.0.0.1', port=3306, user='kyungsoo', passwd='1234', db='w3schools', charset='utf8')

In [27]:
cursor = db.cursor()
db.commit()

In [25]:
db.close()

In [15]:
db.commit()

In [16]:
sql = '''
CREATE TABLE scores2 (
    name nvarchar(20) NOT NULL,
    math int,
    science int,
    english int,
    PRIMARY KEY (name)
)
'''
cursor.execute(sql)
db.commit()

In [14]:
sql = "select * from customers"
cursor.execute(sql)
resultset = cursor.fetchall()
print(resultset)

((1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'), (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico'), (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico'), (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'), (5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden'), (6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany'), (7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France'), (8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain'), (9, "Bon app'", 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France'), (10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada'), (11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK'), (12, 'Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina'), (13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '05022', 'Mexico'), (14, 'Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland'), (15, 'Comércio Mineiro', 'Pedro Afonso', 'Av. dos Lusíadas, 23', 'São Paulo', '05432-043', 'Brazil'), (16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK'), (17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany'), (18, 'Du monde entier', 'Janine Labrune', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France'), (19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK'), (20, 'Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria'), (21, 'Familia Arquibaldo', 'Aria Cruz', 'Rua Orós, 92', 'São Paulo', '05442-030', 'Brazil'), (22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'C/ Moralzarzal, 86', 'Madrid', '28034', 'Spain'), (23, 'Folies gourmandes', 'Martine Rancé', '184, chaussée de Tournai', 'Lille', '59000', 'France'), (24, 'Folk och fä HB', 'Maria Larsson', 'Åkergatan 24', 'Bräcke', 'S-844 67', 'Sweden'), (25, 'Frankenversand', 'Peter Franken', 'Berliner Platz 43', 'München', '80805', 'Germany'), (26, 'France restauration', 'Carine Schmitt', '54, rue Royale', 'Nantes', '44000', 'France'), (27, 'Franchi S.p.A.', 'Paolo Accorti', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy'), (28, 'Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez', 'Jardim das rosas n. 32', 'Lisboa', '1675', 'Portugal'), (29, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '08022', 'Spain'), (30, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain'), (31, 'Gourmet Lanchonetes', 'André Fonseca', 'Av. Brasil, 442', 'Campinas', '04876-786', 'Brazil'), (32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA'), (33, 'GROSELLA-Restaurante', 'Manuel Pereira', '5ª Ave. Los Palos Grandes', 'Caracas', '1081', 'Venezuela'), (34, 'Hanari Carnes', 'Mario Pontes', 'Rua do Paço, 67', 'Rio de Janeiro', '05454-876', 'Brazil'), (35, 'HILARIÓN-Abastos', 'Carlos Hernández', 'Carrera 22 con Ave. Carlos Soublette #8-35', 'San Cristóbal', '5022', 'Venezuela'), (36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA'), (37, 'Hungry Owl All-Night Grocers', 'Patricia McKenna', '8 Johnstown Road', 'Cork', '', 'Ireland'), (38, 'Island Trading', 'Helen Bennett', 'Garden House Crowther Way', 'Cowes', 'PO31 7PJ', 'UK'), (39, 'Königlich Essen', 'Philip Cramer', 'Maubelstr. 90', 'Brandenburg', '14776', 'Germany'), (40, "La corne d'abondance", 'Daniel Tonini', "67, avenue de l'Europe", 'Versailles', '78000', 'France'), (41, "La maison d'Asie", 'Annette Roulet', '1 rue Alsace-Lorraine', 'Toulouse', '31000', 'France'), (42, 'Laughing Bacchus Wine Cellars', 'Yoshi Tannamuri', '1900 Oak St.', 'Vancouver', 'V3F 2K1', 'Canada'), (43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA'), (44, 'Lehmanns Marktstand', 'Renate Messner', 'Magazinweg 7', 'Frankfurt a.M.', '60528', 'Germany'), (45, "Let's Stop N Shop", 'Jaime Yorres', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA'), (46, 'LILA-Supermercado', 'Carlos González', 'Carrera 52 con Ave. Bolívar #65-98 Llano Largo', 'Barquisimeto', '3508', 'Venezuela'), (47, 'LINO-Delicateses', 'Felipe Izquierdo', 'Ave. 5 de Mayo Porlamar', 'I. de Margarita', '4980', 'Venezuela'), (48, 'Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA'), (49, 'Magazzini Alimentari Riuniti', 'Giovanni Rovelli', 'Via Ludovico il Moro 22', 'Bergamo', '24100', 'Italy'), (50, 'Maison Dewey', 'Catherine Dewey', 'Rue Joseph-Bens 532', 'Bruxelles', 'B-1180', 'Belgium'), (51, 'Mère Paillarde', 'Jean Fresnière', '43 rue St. Laurent', 'Montréal', 'H1J 1C3', 'Canada'), (52, 'Morgenstern Gesundkost', 'Alexander Feuer', 'Heerstr. 22', 'Leipzig', '04179', 'Germany'), (53, 'North/South', 'Simon Crowther', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK'), (54, 'Océano Atlántico Ltda.', 'Yvonne Moncada', 'Ing. Gustavo Moncada 8585 Piso 20-A', 'Buenos Aires', '1010', 'Argentina'), (55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA'), (56, 'Ottilies Käseladen', 'Henriette Pfalzheim', 'Mehrheimerstr. 369', 'Köln', '50739', 'Germany'), (57, 'Paris spécialités', 'Marie Bertrand', '265, boulevard Charonne', 'Paris', '75012', 'France'), (58, 'Pericles Comidas clásicas', 'Guillermo Fernández', 'Calle Dr. Jorge Cash 321', 'México D.F.', '05033', 'Mexico'), (59, 'Piccolo und mehr', 'Georg Pipps', 'Geislweg 14', 'Salzburg', '5020', 'Austria'), (60, 'Princesa Isabel Vinhoss', 'Isabel de Castro', 'Estrada da saúde n. 58', 'Lisboa', '1756', 'Portugal'), (61, 'Que Delícia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil'), (62, 'Queen Cozinha', 'Lúcia Carvalho', 'Alameda dos Canàrios, 891', 'São Paulo', '05487-020', 'Brazil'), (63, 'QUICK-Stop', 'Horst Kloss', 'Taucherstraße 10', 'Cunewalde', '01307', 'Germany'), (64, 'Rancho grande', 'Sergio Gutiérrez', 'Av. del Libertador 900', 'Buenos Aires', '1010', 'Argentina'), (65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA'), (66, 'Reggiani Caseifici', 'Maurizio Moroni', 'Strada Provinciale 124', 'Reggio Emilia', '42100', 'Italy'), (67, 'Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil'), (68, 'Richter Supermarkt', 'Michael Holz', 'Grenzacherweg 237', 'Genève', '1203', 'Switzerland'), (69, 'Romero y tomillo', 'Alejandra Camino', 'Gran Vía, 1', 'Madrid', '28001', 'Spain'), (70, 'Santé Gourmet', 'Jonas Bergulfsen', 'Erling Skakkes gate 78', 'Stavern', '4110', 'Norway'), (71, 'Save-a-lot Markets', 'Jose Pavarotti', '187 Suffolk Ln.', 'Boise', '83720', 'USA'), (72, 'Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK'), (73, 'Simons bistro', 'Jytte Petersen', 'Vinbæltet 34', 'København', '1734', 'Denmark'), (74, 'Spécialités du monde', 'Dominique Perrier', '25, rue Lauriston', 'Paris', '75016', 'France'), (75, 'Split Rail Beer & Ale', 'Art Braunschweiger', 'P.O. Box 555', 'Lander', '82520', 'USA'), (76, 'Suprêmes délices', 'Pascale Cartrain', 'Boulevard Tirou, 255', 'Charleroi', 'B-6000', 'Belgium'), (77, 'The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA'), (78, 'The Cracker Box', 'Liu Wong', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA'), (79, 'Toms Spezialitäten', 'Karin Josephs', 'Luisenstr. 48', 'Münster', '44087', 'Germany'), (80, 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Avda. Azteca 123', 'México D.F.', '05033', 'Mexico'), (81, 'Tradição Hipermercados', 'Anabela Domingues', 'Av. Inês de Castro, 414', 'São Paulo', '05634-030', 'Brazil'), (82, "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA'), (83, 'Vaffeljernet', 'Palle Ibsen', 'Smagsløget 45', 'Århus', '8200', 'Denmark'), (84, 'Victuailles en stock', 'Mary Saveley', '2, rue du Commerce', 'Lyon', '69004', 'France'), (85, 'Vins et alcools Chevalier', 'Paul Henriot', "59 rue de l'Abbaye", 'Reims', '51100', 'France'), (86, 'Die Wandernde Kuh', 'Rita Müller', 'Adenauerallee 900', 'Stuttgart', '70563', 'Germany'), (87, 'Wartian Herkku', 'Pirkko Koskitalo', 'Torikatu 38', 'Oulu', '90110', 'Finland'), (88, 'Wellington Importadora', 'Paula Parente', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil'), (89, 'White Clover Markets', 'Karl Jablonski', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA'), (90, 'Wilman Kala', 'Matti Karttunen', 'Keskuskatu 45', 'Helsinki', '21240', 'Finland'), (91, 'Wolski', 'Zbyszek', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland'), (999, 'TEST', 'TEST', 'TEST', 'SEOUL', '12345', 'Korea'))

In [8]:
for result in resultset:
    print(result)

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')
(6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France')
(8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')
(9, "Bon app'", 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France')
(10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')
(11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')
(12, 'Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina')
(13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '05022', 'Mexico')
(14, 'Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland')
(15, 'Comércio Mineiro', 'Pedro Afonso', 'Av. dos Lusíadas, 23', 'São Paulo', '05432-043', 'Brazil')
(16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(18, 'Du monde entier', 'Janine Labrune', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France')
(19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK')
(20, 'Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria')
(21, 'Familia Arquibaldo', 'Aria Cruz', 'Rua Orós, 92', 'São Paulo', '05442-030', 'Brazil')
(22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'C/ Moralzarzal, 86', 'Madrid', '28034', 'Spain')
(23, 'Folies gourmandes', 'Martine Rancé', '184, chaussée de Tournai', 'Lille', '59000', 'France')
(24, 'Folk och fä HB', 'Maria Larsson', 'Åkergatan 24', 'Bräcke', 'S-844 67', 'Sweden')
(25, 'Frankenversand', 'Peter Franken', 'Berliner Platz 43', 'München', '80805', 'Germany')
(26, 'France restauration', 'Carine Schmitt', '54, rue Royale', 'Nantes', '44000', 'France')
(27, 'Franchi S.p.A.', 'Paolo Accorti', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy')
(28, 'Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez', 'Jardim das rosas n. 32', 'Lisboa', '1675', 'Portugal')
(29, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '08022', 'Spain')
(30, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain')
(31, 'Gourmet Lanchonetes', 'André Fonseca', 'Av. Brasil, 442', 'Campinas', '04876-786', 'Brazil')
(32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA')
(33, 'GROSELLA-Restaurante', 'Manuel Pereira', '5ª Ave. Los Palos Grandes', 'Caracas', '1081', 'Venezuela')
(34, 'Hanari Carnes', 'Mario Pontes', 'Rua do Paço, 67', 'Rio de Janeiro', '05454-876', 'Brazil')
(35, 'HILARIÓN-Abastos', 'Carlos Hernández', 'Carrera 22 con Ave. Carlos Soublette #8-35', 'San Cristóbal', '5022', 'Venezuela')
(36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA')
(37, 'Hungry Owl All-Night Grocers', 'Patricia McKenna', '8 Johnstown Road', 'Cork', '', 'Ireland')
(38, 'Island Trading', 'Helen Bennett', 'Garden House Crowther Way', 'Cowes', 'PO31 7PJ', 'UK')
(39, 'Königlich Essen', 'Philip Cramer', 'Maubelstr. 90', 'Brandenburg', '14776', 'Germany')
(40, "La corne d'abondance", 'Daniel Tonini', "67, avenue de l'Europe", 'Versailles', '78000', 'France')
(41, "La maison d'Asie", 'Annette Roulet', '1 rue Alsace-Lorraine', 'Toulouse', '31000', 'France')
(42, 'Laughing Bacchus Wine Cellars', 'Yoshi Tannamuri', '1900 Oak St.', 'Vancouver', 'V3F 2K1', 'Canada')
(43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA')
(44, 'Lehmanns Marktstand', 'Renate Messner', 'Magazinweg 7', 'Frankfurt a.M.', '60528', 'Germany')
(45, "Let's Stop N Shop", 'Jaime Yorres', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA')
(46, 'LILA-Supermercado', 'Carlos González', 'Carrera 52 con Ave. Bolívar #65-98 Llano Largo', 'Barquisimeto', '3508', 'Venezuela')
(47, 'LINO-Delicateses', 'Felipe Izquierdo', 'Ave. 5 de Mayo Porlamar', 'I. de Margarita', '4980', 'Venezuela')
(48, 'Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA')
(49, 'Magazzini Alimentari Riuniti', 'Giovanni Rovelli', 'Via Ludovico il Moro 22', 'Bergamo', '24100', 'Italy')
(50, 'Maison Dewey', 'Catherine Dewey', 'Rue Joseph-Bens 532', 'Bruxelles', 'B-1180', 'Belgium')
(51, 'Mère Paillarde', 'Jean Fresnière', '43 rue St. Laurent', 'Montréal', 'H1J 1C3', 'Canada')
(52, 'Morgenstern Gesundkost', 'Alexander Feuer', 'Heerstr. 22', 'Leipzig', '04179', 'Germany')
(53, 'North/South', 'Simon Crowther', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK')
(54, 'Océano Atlántico Ltda.', 'Yvonne Moncada', 'Ing. Gustavo Moncada 8585 Piso 20-A', 'Buenos Aires', '1010', 'Argentina')
(55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA')
(56, 'Ottilies Käseladen', 'Henriette Pfalzheim', 'Mehrheimerstr. 369', 'Köln', '50739', 'Germany')
(57, 'Paris spécialités', 'Marie Bertrand', '265, boulevard Charonne', 'Paris', '75012', 'France')
(58, 'Pericles Comidas clásicas', 'Guillermo Fernández', 'Calle Dr. Jorge Cash 321', 'México D.F.', '05033', 'Mexico')
(59, 'Piccolo und mehr', 'Georg Pipps', 'Geislweg 14', 'Salzburg', '5020', 'Austria')
(60, 'Princesa Isabel Vinhoss', 'Isabel de Castro', 'Estrada da saúde n. 58', 'Lisboa', '1756', 'Portugal')
(61, 'Que Delícia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil')
(62, 'Queen Cozinha', 'Lúcia Carvalho', 'Alameda dos Canàrios, 891', 'São Paulo', '05487-020', 'Brazil')
(63, 'QUICK-Stop', 'Horst Kloss', 'Taucherstraße 10', 'Cunewalde', '01307', 'Germany')
(64, 'Rancho grande', 'Sergio Gutiérrez', 'Av. del Libertador 900', 'Buenos Aires', '1010', 'Argentina')
(65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA')
(66, 'Reggiani Caseifici', 'Maurizio Moroni', 'Strada Provinciale 124', 'Reggio Emilia', '42100', 'Italy')
(67, 'Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil')
(68, 'Richter Supermarkt', 'Michael Holz', 'Grenzacherweg 237', 'Genève', '1203', 'Switzerland')
(69, 'Romero y tomillo', 'Alejandra Camino', 'Gran Vía, 1', 'Madrid', '28001', 'Spain')
(70, 'Santé Gourmet', 'Jonas Bergulfsen', 'Erling Skakkes gate 78', 'Stavern', '4110', 'Norway')
(71, 'Save-a-lot Markets', 'Jose Pavarotti', '187 Suffolk Ln.', 'Boise', '83720', 'USA')
(72, 'Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK')
(73, 'Simons bistro', 'Jytte Petersen', 'Vinbæltet 34', 'København', '1734', 'Denmark')
(74, 'Spécialités du monde', 'Dominique Perrier', '25, rue Lauriston', 'Paris', '75016', 'France')
(75, 'Split Rail Beer & Ale', 'Art Braunschweiger', 'P.O. Box 555', 'Lander', '82520', 'USA')
(76, 'Suprêmes délices', 'Pascale Cartrain', 'Boulevard Tirou, 255', 'Charleroi', 'B-6000', 'Belgium')
(77, 'The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA')
(78, 'The Cracker Box', 'Liu Wong', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA')
(79, 'Toms Spezialitäten', 'Karin Josephs', 'Luisenstr. 48', 'Münster', '44087', 'Germany')
(80, 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Avda. Azteca 123', 'México D.F.', '05033', 'Mexico')
(81, 'Tradição Hipermercados', 'Anabela Domingues', 'Av. Inês de Castro, 414', 'São Paulo', '05634-030', 'Brazil')
(82, "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA')
(83, 'Vaffeljernet', 'Palle Ibsen', 'Smagsløget 45', 'Århus', '8200', 'Denmark')
(84, 'Victuailles en stock', 'Mary Saveley', '2, rue du Commerce', 'Lyon', '69004', 'France')
(85, 'Vins et alcools Chevalier', 'Paul Henriot', "59 rue de l'Abbaye", 'Reims', '51100', 'France')
(86, 'Die Wandernde Kuh', 'Rita Müller', 'Adenauerallee 900', 'Stuttgart', '70563', 'Germany')
(87, 'Wartian Herkku', 'Pirkko Koskitalo', 'Torikatu 38', 'Oulu', '90110', 'Finland')
(88, 'Wellington Importadora', 'Paula Parente', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil')
(89, 'White Clover Markets', 'Karl Jablonski', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA')
(90, 'Wilman Kala', 'Matti Karttunen', 'Keskuskatu 45', 'Helsinki', '21240', 'Finland')
(91, 'Wolski', 'Zbyszek', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland')
(999, 'TEST', 'TEST', 'TEST', 'SEOUL', '12345', 'Korea')

In [9]:
cursor = db.cursor(pymysql.cursors.DictCursor)

In [10]:
sql = "select * from customers"
cursor.execute(sql)
resultset = cursor.fetchall()
for result in resultset:
    print(result)

{'CustomerID': 1, 'CustomerName': 'Alfreds Futterkiste', 'ContactName': 'Maria Anders', 'Address': 'Obere Str. 57', 'City': 'Berlin', 'PostalCode': '12209', 'Country': 'Germany'}
{'CustomerID': 2, 'CustomerName': 'Ana Trujillo Emparedados y helados', 'ContactName': 'Ana Trujillo', 'Address': 'Avda. de la Constitución 2222', 'City': 'México D.F.', 'PostalCode': '05021', 'Country': 'Mexico'}
{'CustomerID': 3, 'CustomerName': 'Antonio Moreno Taquería', 'ContactName': 'Antonio Moreno', 'Address': 'Mataderos 2312', 'City': 'México D.F.', 'PostalCode': '05023', 'Country': 'Mexico'}
{'CustomerID': 4, 'CustomerName': 'Around the Horn', 'ContactName': 'Thomas Hardy', 'Address': '120 Hanover Sq.', 'City': 'London', 'PostalCode': 'WA1 1DP', 'Country': 'UK'}
{'CustomerID': 5, 'CustomerName': 'Berglunds snabbköp', 'ContactName': 'Christina Berglund', 'Address': 'Berguvsvägen 8', 'City': 'Luleå', 'PostalCode': 'S-958 22', 'Country': 'Sweden'}
{'CustomerID': 6, 'CustomerName': 'Blauer See Delikatessen', 'ContactName': 'Hanna Moos', 'Address': 'Forsterstr. 57', 'City': 'Mannheim', 'PostalCode': '68306', 'Country': 'Germany'}
{'CustomerID': 7, 'CustomerName': 'Blondel père et fils', 'ContactName': 'Frédérique Citeaux', 'Address': '24, place Kléber', 'City': 'Strasbourg', 'PostalCode': '67000', 'Country': 'France'}
{'CustomerID': 8, 'CustomerName': 'Bólido Comidas preparadas', 'ContactName': 'Martín Sommer', 'Address': 'C/ Araquil, 67', 'City': 'Madrid', 'PostalCode': '28023', 'Country': 'Spain'}
{'CustomerID': 9, 'CustomerName': "Bon app'", 'ContactName': 'Laurence Lebihans', 'Address': '12, rue des Bouchers', 'City': 'Marseille', 'PostalCode': '13008', 'Country': 'France'}
{'CustomerID': 10, 'CustomerName': 'Bottom-Dollar Marketse', 'ContactName': 'Elizabeth Lincoln', 'Address': '23 Tsawassen Blvd.', 'City': 'Tsawassen', 'PostalCode': 'T2F 8M4', 'Country': 'Canada'}
{'CustomerID': 11, 'CustomerName': "B's Beverages", 'ContactName': 'Victoria Ashworth', 'Address': 'Fauntleroy Circus', 'City': 'London', 'PostalCode': 'EC2 5NT', 'Country': 'UK'}
{'CustomerID': 12, 'CustomerName': 'Cactus Comidas para llevar', 'ContactName': 'Patricio Simpson', 'Address': 'Cerrito 333', 'City': 'Buenos Aires', 'PostalCode': '1010', 'Country': 'Argentina'}
{'CustomerID': 13, 'CustomerName': 'Centro comercial Moctezuma', 'ContactName': 'Francisco Chang', 'Address': 'Sierras de Granada 9993', 'City': 'México D.F.', 'PostalCode': '05022', 'Country': 'Mexico'}
{'CustomerID': 14, 'CustomerName': 'Chop-suey Chinese', 'ContactName': 'Yang Wang', 'Address': 'Hauptstr. 29', 'City': 'Bern', 'PostalCode': '3012', 'Country': 'Switzerland'}
{'CustomerID': 15, 'CustomerName': 'Comércio Mineiro', 'ContactName': 'Pedro Afonso', 'Address': 'Av. dos Lusíadas, 23', 'City': 'São Paulo', 'PostalCode': '05432-043', 'Country': 'Brazil'}
{'CustomerID': 16, 'CustomerName': 'Consolidated Holdings', 'ContactName': 'Elizabeth Brown', 'Address': 'Berkeley Gardens 12 Brewery', 'City': 'London', 'PostalCode': 'WX1 6LT', 'Country': 'UK'}
{'CustomerID': 17, 'CustomerName': 'Drachenblut Delikatessend', 'ContactName': 'Sven Ottlieb', 'Address': 'Walserweg 21', 'City': 'Aachen', 'PostalCode': '52066', 'Country': 'Germany'}
{'CustomerID': 18, 'CustomerName': 'Du monde entier', 'ContactName': 'Janine Labrune', 'Address': '67, rue des Cinquante Otages', 'City': 'Nantes', 'PostalCode': '44000', 'Country': 'France'}
{'CustomerID': 19, 'CustomerName': 'Eastern Connection', 'ContactName': 'Ann Devon', 'Address': '35 King George', 'City': 'London', 'PostalCode': 'WX3 6FW', 'Country': 'UK'}
{'CustomerID': 20, 'CustomerName': 'Ernst Handel', 'ContactName': 'Roland Mendel', 'Address': 'Kirchgasse 6', 'City': 'Graz', 'PostalCode': '8010', 'Country': 'Austria'}
{'CustomerID': 21, 'CustomerName': 'Familia Arquibaldo', 'ContactName': 'Aria Cruz', 'Address': 'Rua Orós, 92', 'City': 'São Paulo', 'PostalCode': '05442-030', 'Country': 'Brazil'}
{'CustomerID': 22, 'CustomerName': 'FISSA Fabrica Inter. Salchichas S.A.', 'ContactName': 'Diego Roel', 'Address': 'C/ Moralzarzal, 86', 'City': 'Madrid', 'PostalCode': '28034', 'Country': 'Spain'}
{'CustomerID': 23, 'CustomerName': 'Folies gourmandes', 'ContactName': 'Martine Rancé', 'Address': '184, chaussée de Tournai', 'City': 'Lille', 'PostalCode': '59000', 'Country': 'France'}
{'CustomerID': 24, 'CustomerName': 'Folk och fä HB', 'ContactName': 'Maria Larsson', 'Address': 'Åkergatan 24', 'City': 'Bräcke', 'PostalCode': 'S-844 67', 'Country': 'Sweden'}
{'CustomerID': 25, 'CustomerName': 'Frankenversand', 'ContactName': 'Peter Franken', 'Address': 'Berliner Platz 43', 'City': 'München', 'PostalCode': '80805', 'Country': 'Germany'}
{'CustomerID': 26, 'CustomerName': 'France restauration', 'ContactName': 'Carine Schmitt', 'Address': '54, rue Royale', 'City': 'Nantes', 'PostalCode': '44000', 'Country': 'France'}
{'CustomerID': 27, 'CustomerName': 'Franchi S.p.A.', 'ContactName': 'Paolo Accorti', 'Address': 'Via Monte Bianco 34', 'City': 'Torino', 'PostalCode': '10100', 'Country': 'Italy'}
{'CustomerID': 28, 'CustomerName': 'Furia Bacalhau e Frutos do Mar', 'ContactName': 'Lino Rodriguez', 'Address': 'Jardim das rosas n. 32', 'City': 'Lisboa', 'PostalCode': '1675', 'Country': 'Portugal'}
{'CustomerID': 29, 'CustomerName': 'Galería del gastrónomo', 'ContactName': 'Eduardo Saavedra', 'Address': 'Rambla de Cataluña, 23', 'City': 'Barcelona', 'PostalCode': '08022', 'Country': 'Spain'}
{'CustomerID': 30, 'CustomerName': 'Godos Cocina Típica', 'ContactName': 'José Pedro Freyre', 'Address': 'C/ Romero, 33', 'City': 'Sevilla', 'PostalCode': '41101', 'Country': 'Spain'}
{'CustomerID': 31, 'CustomerName': 'Gourmet Lanchonetes', 'ContactName': 'André Fonseca', 'Address': 'Av. Brasil, 442', 'City': 'Campinas', 'PostalCode': '04876-786', 'Country': 'Brazil'}
{'CustomerID': 32, 'CustomerName': 'Great Lakes Food Market', 'ContactName': 'Howard Snyder', 'Address': '2732 Baker Blvd.', 'City': 'Eugene', 'PostalCode': '97403', 'Country': 'USA'}
{'CustomerID': 33, 'CustomerName': 'GROSELLA-Restaurante', 'ContactName': 'Manuel Pereira', 'Address': '5ª Ave. Los Palos Grandes', 'City': 'Caracas', 'PostalCode': '1081', 'Country': 'Venezuela'}
{'CustomerID': 34, 'CustomerName': 'Hanari Carnes', 'ContactName': 'Mario Pontes', 'Address': 'Rua do Paço, 67', 'City': 'Rio de Janeiro', 'PostalCode': '05454-876', 'Country': 'Brazil'}
{'CustomerID': 35, 'CustomerName': 'HILARIÓN-Abastos', 'ContactName': 'Carlos Hernández', 'Address': 'Carrera 22 con Ave. Carlos Soublette #8-35', 'City': 'San Cristóbal', 'PostalCode': '5022', 'Country': 'Venezuela'}
{'CustomerID': 36, 'CustomerName': 'Hungry Coyote Import Store', 'ContactName': 'Yoshi Latimer', 'Address': 'City Center Plaza 516 Main St.', 'City': 'Elgin', 'PostalCode': '97827', 'Country': 'USA'}
{'CustomerID': 37, 'CustomerName': 'Hungry Owl All-Night Grocers', 'ContactName': 'Patricia McKenna', 'Address': '8 Johnstown Road', 'City': 'Cork', 'PostalCode': '', 'Country': 'Ireland'}
{'CustomerID': 38, 'CustomerName': 'Island Trading', 'ContactName': 'Helen Bennett', 'Address': 'Garden House Crowther Way', 'City': 'Cowes', 'PostalCode': 'PO31 7PJ', 'Country': 'UK'}
{'CustomerID': 39, 'CustomerName': 'Königlich Essen', 'ContactName': 'Philip Cramer', 'Address': 'Maubelstr. 90', 'City': 'Brandenburg', 'PostalCode': '14776', 'Country': 'Germany'}
{'CustomerID': 40, 'CustomerName': "La corne d'abondance", 'ContactName': 'Daniel Tonini', 'Address': "67, avenue de l'Europe", 'City': 'Versailles', 'PostalCode': '78000', 'Country': 'France'}
{'CustomerID': 41, 'CustomerName': "La maison d'Asie", 'ContactName': 'Annette Roulet', 'Address': '1 rue Alsace-Lorraine', 'City': 'Toulouse', 'PostalCode': '31000', 'Country': 'France'}
{'CustomerID': 42, 'CustomerName': 'Laughing Bacchus Wine Cellars', 'ContactName': 'Yoshi Tannamuri', 'Address': '1900 Oak St.', 'City': 'Vancouver', 'PostalCode': 'V3F 2K1', 'Country': 'Canada'}
{'CustomerID': 43, 'CustomerName': 'Lazy K Kountry Store', 'ContactName': 'John Steel', 'Address': '12 Orchestra Terrace', 'City': 'Walla Walla', 'PostalCode': '99362', 'Country': 'USA'}
{'CustomerID': 44, 'CustomerName': 'Lehmanns Marktstand', 'ContactName': 'Renate Messner', 'Address': 'Magazinweg 7', 'City': 'Frankfurt a.M.', 'PostalCode': '60528', 'Country': 'Germany'}
{'CustomerID': 45, 'CustomerName': "Let's Stop N Shop", 'ContactName': 'Jaime Yorres', 'Address': '87 Polk St. Suite 5', 'City': 'San Francisco', 'PostalCode': '94117', 'Country': 'USA'}
{'CustomerID': 46, 'CustomerName': 'LILA-Supermercado', 'ContactName': 'Carlos González', 'Address': 'Carrera 52 con Ave. Bolívar #65-98 Llano Largo', 'City': 'Barquisimeto', 'PostalCode': '3508', 'Country': 'Venezuela'}
{'CustomerID': 47, 'CustomerName': 'LINO-Delicateses', 'ContactName': 'Felipe Izquierdo', 'Address': 'Ave. 5 de Mayo Porlamar', 'City': 'I. de Margarita', 'PostalCode': '4980', 'Country': 'Venezuela'}
{'CustomerID': 48, 'CustomerName': 'Lonesome Pine Restaurant', 'ContactName': 'Fran Wilson', 'Address': '89 Chiaroscuro Rd.', 'City': 'Portland', 'PostalCode': '97219', 'Country': 'USA'}
{'CustomerID': 49, 'CustomerName': 'Magazzini Alimentari Riuniti', 'ContactName': 'Giovanni Rovelli', 'Address': 'Via Ludovico il Moro 22', 'City': 'Bergamo', 'PostalCode': '24100', 'Country': 'Italy'}
{'CustomerID': 50, 'CustomerName': 'Maison Dewey', 'ContactName': 'Catherine Dewey', 'Address': 'Rue Joseph-Bens 532', 'City': 'Bruxelles', 'PostalCode': 'B-1180', 'Country': 'Belgium'}
{'CustomerID': 51, 'CustomerName': 'Mère Paillarde', 'ContactName': 'Jean Fresnière', 'Address': '43 rue St. Laurent', 'City': 'Montréal', 'PostalCode': 'H1J 1C3', 'Country': 'Canada'}
{'CustomerID': 52, 'CustomerName': 'Morgenstern Gesundkost', 'ContactName': 'Alexander Feuer', 'Address': 'Heerstr. 22', 'City': 'Leipzig', 'PostalCode': '04179', 'Country': 'Germany'}
{'CustomerID': 53, 'CustomerName': 'North/South', 'ContactName': 'Simon Crowther', 'Address': 'South House 300 Queensbridge', 'City': 'London', 'PostalCode': 'SW7 1RZ', 'Country': 'UK'}
{'CustomerID': 54, 'CustomerName': 'Océano Atlántico Ltda.', 'ContactName': 'Yvonne Moncada', 'Address': 'Ing. Gustavo Moncada 8585 Piso 20-A', 'City': 'Buenos Aires', 'PostalCode': '1010', 'Country': 'Argentina'}
{'CustomerID': 55, 'CustomerName': 'Old World Delicatessen', 'ContactName': 'Rene Phillips', 'Address': '2743 Bering St.', 'City': 'Anchorage', 'PostalCode': '99508', 'Country': 'USA'}
{'CustomerID': 56, 'CustomerName': 'Ottilies Käseladen', 'ContactName': 'Henriette Pfalzheim', 'Address': 'Mehrheimerstr. 369', 'City': 'Köln', 'PostalCode': '50739', 'Country': 'Germany'}
{'CustomerID': 57, 'CustomerName': 'Paris spécialités', 'ContactName': 'Marie Bertrand', 'Address': '265, boulevard Charonne', 'City': 'Paris', 'PostalCode': '75012', 'Country': 'France'}
{'CustomerID': 58, 'CustomerName': 'Pericles Comidas clásicas', 'ContactName': 'Guillermo Fernández', 'Address': 'Calle Dr. Jorge Cash 321', 'City': 'México D.F.', 'PostalCode': '05033', 'Country': 'Mexico'}
{'CustomerID': 59, 'CustomerName': 'Piccolo und mehr', 'ContactName': 'Georg Pipps', 'Address': 'Geislweg 14', 'City': 'Salzburg', 'PostalCode': '5020', 'Country': 'Austria'}
{'CustomerID': 60, 'CustomerName': 'Princesa Isabel Vinhoss', 'ContactName': 'Isabel de Castro', 'Address': 'Estrada da saúde n. 58', 'City': 'Lisboa', 'PostalCode': '1756', 'Country': 'Portugal'}
{'CustomerID': 61, 'CustomerName': 'Que Delícia', 'ContactName': 'Bernardo Batista', 'Address': 'Rua da Panificadora, 12', 'City': 'Rio de Janeiro', 'PostalCode': '02389-673', 'Country': 'Brazil'}
{'CustomerID': 62, 'CustomerName': 'Queen Cozinha', 'ContactName': 'Lúcia Carvalho', 'Address': 'Alameda dos Canàrios, 891', 'City': 'São Paulo', 'PostalCode': '05487-020', 'Country': 'Brazil'}
{'CustomerID': 63, 'CustomerName': 'QUICK-Stop', 'ContactName': 'Horst Kloss', 'Address': 'Taucherstraße 10', 'City': 'Cunewalde', 'PostalCode': '01307', 'Country': 'Germany'}
{'CustomerID': 64, 'CustomerName': 'Rancho grande', 'ContactName': 'Sergio Gutiérrez', 'Address': 'Av. del Libertador 900', 'City': 'Buenos Aires', 'PostalCode': '1010', 'Country': 'Argentina'}
{'CustomerID': 65, 'CustomerName': 'Rattlesnake Canyon Grocery', 'ContactName': 'Paula Wilson', 'Address': '2817 Milton Dr.', 'City': 'Albuquerque', 'PostalCode': '87110', 'Country': 'USA'}
{'CustomerID': 66, 'CustomerName': 'Reggiani Caseifici', 'ContactName': 'Maurizio Moroni', 'Address': 'Strada Provinciale 124', 'City': 'Reggio Emilia', 'PostalCode': '42100', 'Country': 'Italy'}
{'CustomerID': 67, 'CustomerName': 'Ricardo Adocicados', 'ContactName': 'Janete Limeira', 'Address': 'Av. Copacabana, 267', 'City': 'Rio de Janeiro', 'PostalCode': '02389-890', 'Country': 'Brazil'}
{'CustomerID': 68, 'CustomerName': 'Richter Supermarkt', 'ContactName': 'Michael Holz', 'Address': 'Grenzacherweg 237', 'City': 'Genève', 'PostalCode': '1203', 'Country': 'Switzerland'}
{'CustomerID': 69, 'CustomerName': 'Romero y tomillo', 'ContactName': 'Alejandra Camino', 'Address': 'Gran Vía, 1', 'City': 'Madrid', 'PostalCode': '28001', 'Country': 'Spain'}
{'CustomerID': 70, 'CustomerName': 'Santé Gourmet', 'ContactName': 'Jonas Bergulfsen', 'Address': 'Erling Skakkes gate 78', 'City': 'Stavern', 'PostalCode': '4110', 'Country': 'Norway'}
{'CustomerID': 71, 'CustomerName': 'Save-a-lot Markets', 'ContactName': 'Jose Pavarotti', 'Address': '187 Suffolk Ln.', 'City': 'Boise', 'PostalCode': '83720', 'Country': 'USA'}
{'CustomerID': 72, 'CustomerName': 'Seven Seas Imports', 'ContactName': 'Hari Kumar', 'Address': '90 Wadhurst Rd.', 'City': 'London', 'PostalCode': 'OX15 4NB', 'Country': 'UK'}
{'CustomerID': 73, 'CustomerName': 'Simons bistro', 'ContactName': 'Jytte Petersen', 'Address': 'Vinbæltet 34', 'City': 'København', 'PostalCode': '1734', 'Country': 'Denmark'}
{'CustomerID': 74, 'CustomerName': 'Spécialités du monde', 'ContactName': 'Dominique Perrier', 'Address': '25, rue Lauriston', 'City': 'Paris', 'PostalCode': '75016', 'Country': 'France'}
{'CustomerID': 75, 'CustomerName': 'Split Rail Beer & Ale', 'ContactName': 'Art Braunschweiger', 'Address': 'P.O. Box 555', 'City': 'Lander', 'PostalCode': '82520', 'Country': 'USA'}
{'CustomerID': 76, 'CustomerName': 'Suprêmes délices', 'ContactName': 'Pascale Cartrain', 'Address': 'Boulevard Tirou, 255', 'City': 'Charleroi', 'PostalCode': 'B-6000', 'Country': 'Belgium'}
{'CustomerID': 77, 'CustomerName': 'The Big Cheese', 'ContactName': 'Liz Nixon', 'Address': '89 Jefferson Way Suite 2', 'City': 'Portland', 'PostalCode': '97201', 'Country': 'USA'}
{'CustomerID': 78, 'CustomerName': 'The Cracker Box', 'ContactName': 'Liu Wong', 'Address': '55 Grizzly Peak Rd.', 'City': 'Butte', 'PostalCode': '59801', 'Country': 'USA'}
{'CustomerID': 79, 'CustomerName': 'Toms Spezialitäten', 'ContactName': 'Karin Josephs', 'Address': 'Luisenstr. 48', 'City': 'Münster', 'PostalCode': '44087', 'Country': 'Germany'}
{'CustomerID': 80, 'CustomerName': 'Tortuga Restaurante', 'ContactName': 'Miguel Angel Paolino', 'Address': 'Avda. Azteca 123', 'City': 'México D.F.', 'PostalCode': '05033', 'Country': 'Mexico'}
{'CustomerID': 81, 'CustomerName': 'Tradição Hipermercados', 'ContactName': 'Anabela Domingues', 'Address': 'Av. Inês de Castro, 414', 'City': 'São Paulo', 'PostalCode': '05634-030', 'Country': 'Brazil'}
{'CustomerID': 82, 'CustomerName': "Trail's Head Gourmet Provisioners", 'ContactName': 'Helvetius Nagy', 'Address': '722 DaVinci Blvd.', 'City': 'Kirkland', 'PostalCode': '98034', 'Country': 'USA'}
{'CustomerID': 83, 'CustomerName': 'Vaffeljernet', 'ContactName': 'Palle Ibsen', 'Address': 'Smagsløget 45', 'City': 'Århus', 'PostalCode': '8200', 'Country': 'Denmark'}
{'CustomerID': 84, 'CustomerName': 'Victuailles en stock', 'ContactName': 'Mary Saveley', 'Address': '2, rue du Commerce', 'City': 'Lyon', 'PostalCode': '69004', 'Country': 'France'}
{'CustomerID': 85, 'CustomerName': 'Vins et alcools Chevalier', 'ContactName': 'Paul Henriot', 'Address': "59 rue de l'Abbaye", 'City': 'Reims', 'PostalCode': '51100', 'Country': 'France'}
{'CustomerID': 86, 'CustomerName': 'Die Wandernde Kuh', 'ContactName': 'Rita Müller', 'Address': 'Adenauerallee 900', 'City': 'Stuttgart', 'PostalCode': '70563', 'Country': 'Germany'}
{'CustomerID': 87, 'CustomerName': 'Wartian Herkku', 'ContactName': 'Pirkko Koskitalo', 'Address': 'Torikatu 38', 'City': 'Oulu', 'PostalCode': '90110', 'Country': 'Finland'}
{'CustomerID': 88, 'CustomerName': 'Wellington Importadora', 'ContactName': 'Paula Parente', 'Address': 'Rua do Mercado, 12', 'City': 'Resende', 'PostalCode': '08737-363', 'Country': 'Brazil'}
{'CustomerID': 89, 'CustomerName': 'White Clover Markets', 'ContactName': 'Karl Jablonski', 'Address': '305 - 14th Ave. S. Suite 3B', 'City': 'Seattle', 'PostalCode': '98128', 'Country': 'USA'}
{'CustomerID': 90, 'CustomerName': 'Wilman Kala', 'ContactName': 'Matti Karttunen', 'Address': 'Keskuskatu 45', 'City': 'Helsinki', 'PostalCode': '21240', 'Country': 'Finland'}
{'CustomerID': 91, 'CustomerName': 'Wolski', 'ContactName': 'Zbyszek', 'Address': 'ul. Filtrowa 68', 'City': 'Walla', 'PostalCode': '01-012', 'Country': 'Poland'}
{'CustomerID': 999, 'CustomerName': 'TEST', 'ContactName': 'TEST', 'Address': 'TEST', 'City': 'SEOUL', 'PostalCode': '12345', 'Country': 'Korea'}

In [11]:
cursor = db.cursor()

In [16]:
sql = "select * from customers where country=%s"
cursor.execute(sql, 'UK')
rs = cursor.fetchall()
for result in rs:
    print(result)

(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')
(16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK')
(38, 'Island Trading', 'Helen Bennett', 'Garden House Crowther Way', 'Cowes', 'PO31 7PJ', 'UK')
(53, 'North/South', 'Simon Crowther', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK')
(72, 'Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK')

In [17]:
sql = "select * from customers where country=%s"
cursor.execute(sql, 'UK')
rs = cursor.fetchone()
rs

(4,
 'Around the Horn',
 'Thomas Hardy',
 '120 Hanover Sq.',
 'London',
 'WA1 1DP',
 'UK')

In [21]:
db.close()

In [24]:
sql = 'DROP TABLE scores'

cursor.execute(sql)
db.commit()

KeyboardInterrupt:

In [40]:
sql = '''
CREATE TABLE scores (
    name nvarchar(20) NOT NULL,
    math int,
    science int,
    english int,
    PRIMARY KEY (name)
)
'''
cursor.execute(sql)
db.commit()

KeyboardInterrupt:

In [17]:
sql = '''
INSERT INTO scores2 VALUES ('황호영', 90, 80, 100)
'''
cursor.execute(sql)
db.commit()

In [25]:
sql  = "DELETE FROM scores WHERE name='kim'"
cursor.execute(sql)
db.commit()

In [33]:
db.close()

In [27]:
sql  = "DELETE FROM scores WHERE name='kim'"
cursor.execute(sql)
db.commit()

InterfaceError: (0, '')

In [28]:
def get_inputdata():
    name = input("이름 : ")
    math = int(input("수학 : "))
    science = int(input("과학 : "))
    english = int(input("영어 : "))
    
    return name, math, science, english

In [30]:
sql = '''
CREATE TABLE student_scores (
    id int NOT NULL AUTO_INCREMENT,
    name nvarchar(20) NOT NULL,
    math int,
    science int,
    english int,
    PRIMARY KEY (id)
)
'''
cursor.execute(sql)
db.commit()

In [38]:
def insert_data(name, math, science, english):
    sql = "INSERT INTO student_scores (name, math, science, english) VALUES('{}', {}, {}, {})".format(name, math, science, english)
    cursor.execute(sql)
    db.commit()

In [33]:
def display_all():
    sql = "SELECT * from student_scores"
    cursor.execute(sql)
    rs = cursor.fetchall()
    for r in rs:
        print("[{}] 이름 : {}, 수학 : {}, 과학 : {}, 영어 : {}".format(r[0], r[1], r[2], r[3], r[4]))

In [34]:
def delete_data(id):
    sql = "DELETE FROM student_scores WHERE id=%s"
    cursor.execute(sql, id)
    db.commit()

In [39]:
db = pymysql.connect(host='127.0.0.1', port=3306, user='kyungsoo', passwd='1234', db='w3schools', charset='utf8')
cursor = db.cursor()

while True:
    menu = input("메뉴를 선택해주세요 1 - 입력, 2 - 조회, 3 - 삭제, 0 - 종료)")
    if menu == "1":
        #입력            
        insert_data(*get_inputdata())
        
    elif menu == "2":
        #조회
        display_all()
            
    elif menu == "3":
        #삭제
        display_all()
        delete_data(int(input("삭제할 번호를 입력해주세요 :")))
        print("삭제가 완료되었습니다.")
        
    elif menu == "0":
        #종료
        display_all()
        db.close()            
        break

메뉴를 선택해주세요 1 - 입력, 2 - 조회, 3 - 삭제, 0 - 종료)1
이름 : 김태익
수학 : 90
과학 : 90
영어 : 100
메뉴를 선택해주세요 1 - 입력, 2 - 조회, 3 - 삭제, 0 - 종료)1
이름 : 강다영
수학 : 90
과학 : 90
영어 : 100
메뉴를 선택해주세요 1 - 입력, 2 - 조회, 3 - 삭제, 0 - 종료)강동아
메뉴를 선택해주세요 1 - 입력, 2 - 조회, 3 - 삭제, 0 - 종료)90
메뉴를 선택해주세요 1 - 입력, 2 - 조회, 3 - 삭제, 0 - 종료)90
메뉴를 선택해주세요 1 - 입력, 2 - 조회, 3 - 삭제, 0 - 종료)100
메뉴를 선택해주세요 1 - 입력, 2 - 조회, 3 - 삭제, 0 - 종료)1
이름 : 강동아
수학 : 90
과학 : 90
영어 : 100
메뉴를 선택해주세요 1 - 입력, 2 - 조회, 3 - 삭제, 0 - 종료)2
[1] 이름 : 김태익, 수학 : 90, 과학 : 90, 영어 : 100
[2] 이름 : 강다영, 수학 : 90, 과학 : 90, 영어 : 100
[3] 이름 : 강동아, 수학 : 90, 과학 : 90, 영어 : 100
메뉴를 선택해주세요 1 - 입력, 2 - 조회, 3 - 삭제, 0 - 종료)1
이름 : 김기범
수학 : 100
과학 : 90
영어 : 90
메뉴를 선택해주세요 1 - 입력, 2 - 조회, 3 - 삭제, 0 - 종료)2
[1] 이름 : 김태익, 수학 : 90, 과학 : 90, 영어 : 100
[2] 이름 : 강다영, 수학 : 90, 과학 : 90, 영어 : 100
[3] 이름 : 강동아, 수학 : 90, 과학 : 90, 영어 : 100
[4] 이름 : 김기범, 수학 : 100, 과학 : 90, 영어 : 90
메뉴를 선택해주세요 1 - 입력, 2 - 조회, 3 - 삭제, 0 - 종료)3
[1] 이름 : 김태익, 수학 : 90, 과학 : 90, 영어 : 100
[2] 이름 : 강다영, 수학 : 90, 과학 : 90, 영어 : 100
[3] 이름 : 강동아, 수학 : 90, 과학 : 90, 영어 : 100
[4] 이름 : 김기범, 수학 : 100, 과학 : 90, 영어 : 90
삭제할 번호를 입력해주세요 :2
삭제가 완료되었습니다.
메뉴를 선택해주세요 1 - 입력, 2 - 조회, 3 - 삭제, 0 - 종료)2
[1] 이름 : 김태익, 수학 : 90, 과학 : 90, 영어 : 100
[3] 이름 : 강동아, 수학 : 90, 과학 : 90, 영어 : 100
[4] 이름 : 김기범, 수학 : 100, 과학 : 90, 영어 : 90
메뉴를 선택해주세요 1 - 입력, 2 - 조회, 3 - 삭제, 0 - 종료)0
[1] 이름 : 김태익, 수학 : 90, 과학 : 90, 영어 : 100
[3] 이름 : 강동아, 수학 : 90, 과학 : 90, 영어 : 100
[4] 이름 : 김기범, 수학 : 100, 과학 : 90, 영어 : 90