In [5]:
x = [3, 6, 9, 20, -7, 5]

In [2]:
for i in range(len(x)):
    x[i] = x[i] *10
x

[30, 60, 90, 200, -70, 50]

In [9]:
for i in x:
    print(i)
    i = i * 10
x

3
6
9
20
-7
5

[3, 6, 9, 20, -7, 5]

In [10]:
y = [[3, 6], 9, 20, -7, 5]

In [12]:
for i, elem in enumerate(y):
    if i == 0:
        elem = 7
y

[[3, 6], 9, 20, -7, 5]

In [19]:
c = []
for i in range(2, 10):
    for j in range(1, 5):
        c.append(i * j)
c

[2,
 4,
 6,
 8,
 3,
 6,
 9,
 12,
 4,
 8,
 12,
 16,
 5,
 10,
 15,
 20,
 6,
 12,
 18,
 24,
 7,
 14,
 21,
 28,
 8,
 16,
 24,
 32,
 9,
 18,
 27,
 36]

In [18]:
c = [ i*j for i in range(2, 10) for j in range(1, 5)]
c

[2,
 4,
 6,
 8,
 3,
 6,
 9,
 12,
 4,
 8,
 12,
 16,
 5,
 10,
 15,
 20,
 6,
 12,
 18,
 24,
 7,
 14,
 21,
 28,
 8,
 16,
 24,
 32,
 9,
 18,
 27,
 36]

In [20]:
list1 = [10,20,30,40,50]

In [26]:
for i in range(len(list1), 1, -1):
    print(list1[i])

50
40
30

In [24]:
list(range(-1, 0, -1))

[]

In [40]:
def calc(operator, *nums):
    sum = 0
    for num in nums:
        if operator =="+":
            sum += num
        elif operator =="*":
            if sum == 0:
                sum = 1
            sum *= num
    return sum

sum = calc("*",1,2,3,4,5)
print(sum)

120

In [37]:
def calc(operator, num1, num2):
    ret = 0
    if operator == "+":
        ret = num1 + num2
    
    elif operator == "-":
        ret = num1 - num2
        
    elif operator == "*":
        ret = num1 * num2
        
    elif operator == "/":
        if num2 != 0:
            ret = num1 / num2
        else:
            print("0 으로 나눌 수 없어요")
    return ret

result = calc("+", 10, 20)
print(result)
result = calc("-", 10, 20)
print(result)
result = calc("*", 10, 20)
print(result)
result = calc("/", 10, 0)
print(result)

30
-10
200
0 으로 나눌 수 없어요
0

In [42]:
def f_sum(n) :
    if n == 0 : 
        return 0
    
    return n + f_sum(n-1)

sum = f_sum(5)
print(sum)

15

In [ ]:
def f_number(n):
    if n == 0:
        return
    
    f_number(int(n/10))
    print(n%10)

f_number(1234)

In [45]:
1234%10

4

In [50]:
int(1234/10)

123

In [46]:
123%10

3

In [47]:
12%10

2

In [48]:
1%10

1

In [51]:
int(1/10)

0

In [52]:
def plus_ten(x):
    return x + 10

In [53]:
def plus(func):
    print(func(2))

plus(plus_ten)

12

In [56]:

plus_lambda = lambda x : x + 10
plus_lambda(2)

12

In [61]:
import pickle
import os.path

filename = "scores.pkl"
if os.path.exists("scores.pkl") :
    with open("scores.pkl","rb") as file :
        scores = pickle.load(file)
else : 
    scores = []

print(scores)


while True:
    menu = int(input("메뉴를 선택해주세요 1 - 입력, 2 - 조회, 3 - 삭제, 0 - 종료 : "))
    if menu == 1 :
        name = input("이름 ")
        math = int(input("수학 "))
        science = int(input("과학 "))
        english = int(input("영어 "))
        student = {"이름" : name, "수학": math, "과학" : science, "영어" : english}
        scores.append(student)
        
    elif menu == 2 :
        for i, user in enumerate(scores):
            print(f'[{i}] 이름 : {user["이름"]}, 수학 : {user["수학"]}, 과학 : {user["과학"]}, 영어 : {user["영어"]}')
    
    elif menu == 3 :
        for i, user in enumerate(scores):
            print(f'[{i}] 이름 : {user["이름"]}, 수학 : {user["수학"]}, 과학 : {user["과학"]}, 영어 : {user["영어"]}')
        
        del_index = int(input("삭제할 번호를 입력해주세요 : "))
        scores.pop(del_index)
        print("삭제가 완료되었습니다.")
    
    elif menu == 0 :
        with open("scores.pkl", "wb") as file :
            pickle.dump(scores, file)
            print("종료되었습니다")
        break
scores

[{'이름': '홍경수', '수학': 100, '과학': 90, '영어': 90}, {'이름': '강다영', '수학': 80, '과학': 90, '영어': 90}]
메뉴를 선택해주세요 1 - 입력, 2 - 조회, 3 - 삭제, 0 - 종료 : 3
[0] 이름 : 홍경수, 수학 : 100, 과학 : 90, 영어 : 90
[1] 이름 : 강다영, 수학 : 80, 과학 : 90, 영어 : 90
삭제할 번호를 입력해주세요 : 0
삭제가 완료되었습니다.
메뉴를 선택해주세요 1 - 입력, 2 - 조회, 3 - 삭제, 0 - 종료 : 2
[0] 이름 : 강다영, 수학 : 80, 과학 : 90, 영어 : 90
메뉴를 선택해주세요 1 - 입력, 2 - 조회, 3 - 삭제, 0 - 종료 : 0
종료되었습니다

[{'이름': '강다영', '수학': 80, '과학': 90, '영어': 90}]

In [78]:
a = [1, 2, 3, 4, 5 ]

In [79]:
a  = list(map(lambda x : x * 10 , a))

In [80]:
a

[10, 20, 30, 40, 50]

In [70]:
score = {'이름': '강다영', '수학': 80, '과학': 90, '영어': 90}
score

{'이름': '강다영', '수학': 80, '과학': 90, '영어': 90}

In [73]:
keys = list(map(lambda x : x, score))
keys

['이름', '수학', '과학', '영어']

In [75]:
values = list(map(lambda x : score[x], score))
values

['강다영', 80, 90, 90]

In [76]:
score['수학'] *= 5

In [77]:
score

{'이름': '홍경수', '수학': 80, '과학': 90, '영어': 90}

In [81]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [82]:
def f(x):
    if x % 2 == 0:
        return 0
    elif x % 3 == 0:
        return 1
    else:
        return 2

In [83]:
list(map(f, a))

[2, 0, 1, 0, 2, 0, 2, 0, 1, 0]

In [84]:
def f(x):
    if x % 2 == 0:
        return 0
    else:
        return x

In [87]:
def g(func, num):
    return func(num) # f(10)

In [86]:
print(g(f, 10))

0

In [90]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list(map(lambda x: 0 if x % 2 == 0 and x % 3 == 0 else x , a))
# output [1, 0, 0, 0, 5, 0, 7, 0, 0, 0]

[1, 2, 3, 4, 5, 0, 7, 8, 9, 10]

In [111]:
names = """강다영
강동아
권윤택
김광희
김기범
김성희
김수진
김태익
남윤호
박수진
박창서
선은빈
송은이
우지원
윤현수
윤호준
이송재
이한비
조계철
최하은
황호영
조성혜"""

In [112]:
name_list = names.split("\n")
name_list

['강다영',
 '강동아',
 '권윤택',
 '김광희',
 '김기범',
 '김성희',
 '김수진',
 '김태익',
 '남윤호',
 '박수진',
 '박창서',
 '선은빈',
 '송은이',
 '우지원',
 '윤현수',
 '윤호준',
 '이송재',
 '이한비',
 '조계철',
 '최하은',
 '황호영',
 '조성혜']

In [108]:
len(name_list)

22

In [97]:
pairs = """선은빈	김성희	
윤호준	김수진	
박수진	송은이	
김경빈	김태익	
김광희	우지원	
박창서	박선유	
조계철	안도우	
김기범	황호영	
강다영	강동아	
남윤호	문지현	
윤현수	이송재	
이한비	최하은	
이한비	권윤택
최하은	권윤택
"""

In [106]:
pair_list = pairs.split("\n")
pair_dict = {}
for e in pair_list:
    names = e.split("\t")
    if len(names) > 1:
        pair_dict[names[0]] = names[1]
        pair_dict[names[1]] = names[0]
pair_dict

{'선은빈': '김성희',
 '김성희': '선은빈',
 '윤호준': '김수진',
 '김수진': '윤호준',
 '박수진': '송은이',
 '송은이': '박수진',
 '김경빈': '김태익',
 '김태익': '김경빈',
 '김광희': '우지원',
 '우지원': '김광희',
 '박창서': '박선유',
 '박선유': '박창서',
 '조계철': '안도우',
 '안도우': '조계철',
 '김기범': '황호영',
 '황호영': '김기범',
 '강다영': '강동아',
 '강동아': '강다영',
 '남윤호': '문지현',
 '문지현': '남윤호',
 '윤현수': '이송재',
 '이송재': '윤현수',
 '이한비': '권윤택',
 '최하은': '권윤택',
 '권윤택': '최하은'}

In [114]:

import random
new_pair = {}

while len(name_list) > 0:
    index = random.randint(0, len(name_list) - 1)
    name = name_list.pop(index)
    index = random.randint(0, len(name_list) - 1)
    while name != '조성혜' and pair_dict[name] == name_list[index]:
        index = random.randint(0, len(name_list) - 1)
    counter_part = name_list.pop(index)
    new_pair[name] = counter_part


for k in new_pair:
    print(k, new_pair[k])

최하은 선은빈
김수진 남윤호
강다영 권윤택
박수진 우지원
이한비 황호영
김성희 조성혜
김광희 윤호준
송은이 조계철
김기범 윤현수
김태익 이송재
박창서 강동아

In [116]:
files = ["memo.txt", "1.jpg", "32.png", "23.jpg", "223.jpg"] 
list(filter( lambda x : x.find("jpg") >= 0, files))

['1.jpg', '23.jpg', '223.jpg']

In [118]:
"223.jpg".find(".jpg")

3

In [119]:
numbers = [12, 32, 55, 12, 32, 4, 86, 50]

In [121]:
list(map( lambda x : "합격" if x > 60 else "대기" if x >= 50 else "불합격", numbers))

['불합격', '불합격', '대기', '불합격', '불합격', '불합격', '합격', '대기']

In [124]:
files = ["memo.txt", "1.jpg", "32.png", "23.jpg", "223.jpg"]

In [123]:
"50보다 작으면 불합격이 들어간 리스트를 만드세요".find("라스트")

-1

In [125]:
list(filter(lambda x: x.find(".jpg") > -1, files ))

['1.jpg', '23.jpg', '223.jpg']