In [1]:
a = 10
b = a
b = 5
a

10

In [2]:
a = [1, 2, 3, 4]
b = a
b[0] = 10
a

[10, 2, 3, 4]

In [3]:
list1 = [10, 20, 30, 40, 50]

In [8]:
for i in range(4, 0, -1):
    print(list1[i])

50
40
30
20
10

In [4]:
print(list1[4])
print(list1[3])
print(list1[2])
print(list1[1])
print(list1[0])

50
40
30
20
10

In [9]:
for i in 3:
    print(i)

TypeError: 'int' object is not iterable

In [18]:
x = [3, 6, 9, 20, -7, 5]
for i in range(len(x)):
    x[i]  *= 10
    print(x[i])

30
60
90
200
-70
50

In [22]:
score_dict = { "math": 70,  "science": 80, "english": 20}

In [25]:
for k in score_dict:
    score_dict[k] = score_dict[k] + 10
    
score_dict

{'math': 90, 'science': 100, 'english': 40}

In [27]:
 words = ["school", "game", "piano", "science", "hotel", "mountain"]

In [30]:
new_list = []
for word in words:
    if len(word) > 5:
        new_list.append(word)

print(new_list)

['school', 'science', 'mountain']

In [33]:
for i in range(1, 10):
    for j in range(1, 10):
        print("{} * {} = {}".format(i, j, i*j))

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [35]:
for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:
        print("3과 5의 배수")
    elif i % 3 == 0:
        print("3의 배수")
    elif i % 5 == 0:
        print("5의 배수")
    else:
        print(i)

1
2
3의 배수
4
5의 배수
3의 배수
7
8
3의 배수
5의 배수
11
3의 배수
13
14
3과 5의 배수
16
17
3의 배수
19
5의 배수
3의 배수
22
23
3의 배수
5의 배수
26
3의 배수
28
29
3과 5의 배수
31
32
3의 배수
34
5의 배수
3의 배수
37
38
3의 배수
5의 배수
41
3의 배수
43
44
3과 5의 배수
46
47
3의 배수
49
5의 배수
3의 배수
52
53
3의 배수
5의 배수
56
3의 배수
58
59
3과 5의 배수
61
62
3의 배수
64
5의 배수
3의 배수
67
68
3의 배수
5의 배수
71
3의 배수
73
74
3과 5의 배수
76
77
3의 배수
79
5의 배수
3의 배수
82
83
3의 배수
5의 배수
86
3의 배수
88
89
3과 5의 배수
91
92
3의 배수
94
5의 배수
3의 배수
97
98
3의 배수
5의 배수

In [36]:
x = [3, 6, 9, 20, -7, 5]

In [39]:
for i in range(len(x) - 1):
    for j in range(len(x) - i - 1):
        if x[j] > x[j + 1]:
            temp = x[j + 1]
            x[j + 1] = x[j]
            x[j] = temp
print(x)

[-7, 3, 5, 6, 9, 20]

In [46]:
words = ["school", "game", "piano", "science", "hotel", "mountain"]
for t in enumerate(words):
    print(t)
    print(t[0], t[1])

(0, 'school')
0 school
(1, 'game')
1 game
(2, 'piano')
2 piano
(3, 'science')
3 science
(4, 'hotel')
4 hotel
(5, 'mountain')
5 mountain

In [47]:
x=[3,6,9,20,-7,19]
y=x.copy() #x=[3,6,9,20,-7,19]
for i in x:
    c=0
    for j in x:
        if i>j:
            c=c+1
    y[c]=i
x=y
print(x)

[-7, 3, 6, 9, 19, 20]

In [48]:
score = -1
score_sum = 0

while score != 0:
    score = int(input("값을 입력해 주세요:"))
    score_sum +=  score
    
print(f"합계는 ? {score_sum}")

값을 입력해 주세요:30
값을 입력해 주세요:20
값을 입력해 주세요:50
값을 입력해 주세요:40
값을 입력해 주세요:30
값을 입력해 주세요:0
합계는 ? 170

# 실습02 (가위바위보 게임 만들기)

In [49]:
import random

In [75]:
random.randint(1, 3)

2

In [87]:
game_dict = {1:"가위", 2:"바위", 3:"보"}
total = 0
win = 0
user = 1
computer = -1

while user in [1, 2, 3]:
    user = int(input("가위(1), 바위(2), 보(3) 을 입력해주세요 :"))
    computer = random.randint(1, 3)
    
    if user not in [1, 2, 3]:
        break
    
    total += 1
    print(f"유저 : {game_dict[user]}, 컴퓨터 : {game_dict[computer]}")
    
    if (user == 1 and computer == 3) or (user == 2 and computer == 1) or (user == 3 and computer == 2):
        win += 1
        
        

print(f"게임종료 (전체:{total} ,승리:{win})")

가위(1), 바위(2), 보(3) 을 입력해주세요 :3
유저 : 보, 컴퓨터 : 바위
가위(1), 바위(2), 보(3) 을 입력해주세요 :2
유저 : 바위, 컴퓨터 : 가위
가위(1), 바위(2), 보(3) 을 입력해주세요 :1
유저 : 가위, 컴퓨터 : 바위
가위(1), 바위(2), 보(3) 을 입력해주세요 :4
게임종료 (전체:3 ,승리:2)

# break, continue

In [89]:
user = int(input("숫자를 입력하세요:"))
cnt = 0
while True:
    print(cnt)
    cnt += 1
    if cnt > user:
        break

숫자를 입력하세요:20
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [88]:
user = int(input("숫자를 입력하세요:"))
for i in range(user+1):
    if i % 2 == 1:
        continue
    print(i)

숫자를 입력하세요:20
0
2
4
6
8
10
12
14
16
18
20

In [96]:
a = []
for i in range(10):
    a.append(i * i)
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [95]:
b = [i*i for i in range(10)]
b

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [101]:
c = [i for i in range(10) if i % 2 == 1]
c

[1, 3, 5, 7, 9]

In [ ]:
gugu = []
for i in range(2, 10):
    for j in range(1, 10):
        gugu.append(i*j)
gugu

In [103]:
gugu2 = [ i * j for i in range(2, 10) for j in range(1, 10)]
gugu2

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [104]:
keys = ["name", "age", "address"]
users = ["tom", 20, "Incheon"]
user_dict = { keys[i] : users[i] for i in range(0, 3)}
user_dict

{'name': 'tom', 'age': 20, 'address': 'Incheon'}

In [108]:
keys = ["name", "age", "address"]
users = ["tom", 20, "Incheon"]
codes = [1, 2, 3]

for k, u, c in zip(keys, users, codes):
    print("{}({}) : {}".format(k, c, u))

name(1) : tom
age(2) : 20
address(3) : Incheon

In [109]:
dic = dict(zip(keys, users))
dic

{'name': 'tom', 'age': 20, 'address': 'Incheon'}

In [110]:
new_list = list(zip(keys, users))
new_list

[('name', 'tom'), ('age', 20), ('address', 'Incheon')]

In [111]:
word= ["school","game","piano","science","hotel","mountain"]

In [112]:
new_words = [ e for e in word if len(e) > 5]
new_words

['school', 'science', 'mountain']

In [113]:
word_len = [ len(e) for e in word ]
word_len

[6, 4, 5, 7, 5, 8]

In [114]:
a = [[10, 20], [30, 40], [50, 60]]
b = [[2,   3], [4,   5], [6,   7]]

In [117]:
C = []
tmp = []
for i in range(len(a)):
    for j in range(len(a[i])):
        tmp.append(a[i][j] * b[i][j])
        
    C.append(tmp)
C

[[20, 60], [120, 200], [300, 420]]

In [120]:
a = []
for i in range(3):
    temp = []
    for j in range(2):
        temp.append(j + 1 + 2 * i)
    a.append(temp)
a

[[1, 2], [3, 4], [5, 6]]

# 파일 입출력

In [17]:
file = open("file.txt", "w")
file.write("5")
file.close()

In [18]:
with open("file.txt") as f:
    text = f.read()
    print(text)

5

In [13]:
import pickle
text = ["first file", "second file"]

with open("data.pkl", "wb") as p:
    pickle.dump(text, p)

with open("data.pkl", "rb") as file:
    data = pickle.load(file)
    print(type(data))
    print(data)

In [19]:
name = "tom"
age = 24
address = "서울시 마포구"
scores = {"python":90, "deeplearning":95, "database":85}

In [21]:
with open("data2.pkl", "wb") as file:
    pickle.dump(name, file)
    pickle.dump(age, file)
    pickle.dump(address, file)
    pickle.dump(scores, file)

In [22]:
with open("data2.pkl", "rb") as file:
    name2 = pickle.load(file)
    age2 = pickle.load(file)
    address2 = pickle.load(file)
    score2 = pickle.load(file)
    
    print(name2)
    print(type(age2))
    print(age2)
    print(address2)
    print(score2)

tom
<class 'int'>
24
서울시 마포구
{'python': 90, 'deeplearning': 95, 'database': 85}

In [2]:
import random
game_dict = {1:"가위", 2:"바위", 3:"보"}
total = 0
win = 0
user = 1
computer = -1

while user in [1, 2, 3]:
    user = int(input("가위(1), 바위(2), 보(3) 을 입력해주세요 :"))
    computer = random.randint(1, 3)
    
    if user not in [1, 2, 3]:
        break
    
    total += 1
    print(f"유저 : {game_dict[user]}, 컴퓨터 : {game_dict[computer]}")
    
    if (user == 1 and computer == 3) or (user == 2 and computer == 1) or (user == 3 and computer == 2):
        win += 1
        
        

print(f"게임종료 (전체:{total} ,승리:{win})")

가위(1), 바위(2), 보(3) 을 입력해주세요 :3
유저 : 보, 컴퓨터 : 보
가위(1), 바위(2), 보(3) 을 입력해주세요 :2
유저 : 바위, 컴퓨터 : 가위
가위(1), 바위(2), 보(3) 을 입력해주세요 :1
유저 : 가위, 컴퓨터 : 보
가위(1), 바위(2), 보(3) 을 입력해주세요 :4
게임종료 (전체:3 ,승리:2)

In [3]:

with open("game_save.pkl", "wb") as file:
    pickle.dump(total, file)
    pickle.dump(win, file)

In [2]:
import pickle
total = 0
win = 0

with open("game_save.pkl", "rb") as file:
    total = pickle.load(file)
    win = pickle.load(file)
    
print(total, win)

3 2

In [5]:
import random
user = 1
computer = -1
game_dict = {1:"가위", 2:"바위", 3:"보"}

while user in [1, 2, 3]:
    user = int(input("가위(1), 바위(2), 보(3) 을 입력해주세요 :"))
    computer = random.randint(1, 3)
    
    if user not in [1, 2, 3]:
        break
    
    total += 1
    print(f"유저 : {game_dict[user]}, 컴퓨터 : {game_dict[computer]}")
    
    if (user == 1 and computer == 3) or (user == 2 and computer == 1) or (user == 3 and computer == 2):
        win += 1
        
        

print(f"게임종료 (전체:{total} ,승리:{win})")

가위(1), 바위(2), 보(3) 을 입력해주세요 :3
유저 : 보, 컴퓨터 : 보
가위(1), 바위(2), 보(3) 을 입력해주세요 :2
유저 : 바위, 컴퓨터 : 가위
가위(1), 바위(2), 보(3) 을 입력해주세요 :1
유저 : 가위, 컴퓨터 : 보
가위(1), 바위(2), 보(3) 을 입력해주세요 :4
게임종료 (전체:7 ,승리:4)

## 함수

In [12]:
def gugu():
    pass

In [15]:
a = gugu()
print(a)

None

In [16]:
a = [1,2,3,4,5]
a = a.append(6)
print(a)

None

In [18]:
a = 5

def func1():
    a = 1
    print(a)
    
func1()
print(a)

1
5

In [20]:
def func2():
    print(a)

func2()

5

In [23]:
def func3():
    global a
    a = 1
    
func3()
print(a)

1

In [24]:
lis = [1, 2, 3, 1, 4, 2, 1]

In [28]:
def allindex(my_list, elem):
    temp_list = []
    for i, e in enumerate(my_list):
        if e == elem:
            temp_list.append(i)
            
    return temp_list

In [29]:
allindex(lis, 1)

[0, 3, 6]

In [30]:
allindex(lis, 2)

[1, 5]

In [31]:
lst2 = [1, 2, 3,4,6,5,3,4,3]
allindex(lst2, 3)

[2, 6, 8]