In [1]:
name = input("이름을 입력해주세요:")
age = input("나이를 입력해주세요:")
phone = input("연락처를 입력해주세요:")

이름을 입력해주세요:홍길동
나이를 입력해주세요:27
연락처를 입력해주세요:010-3023-1223

In [5]:
contact = dict(이름=name, 나이=age, 연락처=phone)

In [7]:
contact2 = {'이름': name, '나이': age, '연락처':phone}

In [8]:
contact2

{'이름': '홍길동', '나이': '27', '연락처': '010-3023-1223'}

In [10]:
name = input("이름을 입력해주세요:")
age = input("나이를 입력해주세요:")
phone = input("연락처를 입력해주세요:")

이름을 입력해주세요:홍길동
나이를 입력해주세요:27
연락처를 입력해주세요:010-3023-1223

In [11]:
name1 = input("이름을 입력해주세요:")
age1 = input("나이를 입력해주세요:")
phone1 = input("연락처를 입력해주세요:")

이름을 입력해주세요:이몽룡
나이를 입력해주세요:30
연락처를 입력해주세요:010-3030-4434

In [12]:
contacts = []

In [13]:
contacts.append({'이름': name, '나이': age, '연락처':phone})

In [14]:
contacts

[{'이름': '홍길동', '나이': '27', '연락처': '010-3023-1223'}]

In [15]:
contacts.append({'이름': name1, '나이': age1, '연락처':phone1})

### contacts

In [17]:
contacts[1]['나이']

'30'

In [18]:
a = {1, 2, 3, 4}

In [26]:
a.remove(5)

KeyError: 5

In [20]:
a

{2, 3, 4}

In [21]:
a.discard(2)

In [22]:
a = {"1", "2", "3", "4"}

In [25]:
a.discard("5")

In [24]:
a

{'1', '3', '4'}

In [27]:
a = {1, 2, 3}
b = {3, 4, 5}

In [30]:
c = a | b

In [31]:
c

{1, 2, 3, 4, 5}

In [32]:
d = a & b

In [33]:
d

{3}

In [34]:
e = c - d

In [35]:
e

{1, 2, 4, 5}

In [36]:
a ^ b

{1, 2, 4, 5}

In [37]:
f = a
f

{1, 2, 3}

In [38]:
f.remove(1)

In [39]:
a

{2, 3}

In [43]:
if 4 in a:
   pass

In [46]:
x = 3
if x >= 10:
    if x <= 20:
        print("x는 20보다 작습니다")
    if x <= 30:
        print("x는 30보다 작습니다")

In [57]:
score1 = int(input("첫번째 점수를 입력해주세요:"))
score2 = int(input("두번째 점수를 입력해주세요:"))
score3 = int(input("세번째 점수를 입력해주세요:"))

첫번째 점수를 입력해주세요:80
두번째 점수를 입력해주세요:90
세번째 점수를 입력해주세요:75

In [58]:
if (score1 < 0 or score1 > 100 
    or score2 < 0 or score2 > 100 
    or score3 < 0 or score3 > 100 ):
    print("잘못된 점수가 입력되었습니다")

elif (score1 <= 65 or score2 <= 65 or score3 <= 65):
    print("불합격")
    
else:
    print("합격")

합격

In [64]:
fruit = ['사과', '오렌지']
vegetable = ['당근', '호박']

In [72]:
category = input("등록할 카테고리를 선택해주세요 (과일, 채소) :")

등록할 카테고리를 선택해주세요 (과일, 채소) :과일

In [74]:
item = input("등록할 {}를 입력해주세요: ".format(category))

등록할 과일를 입력해주세요: 바나나

In [75]:
if category in ["과일", "채소"]:
    if category == "과일":
        if item in fruit:
            print("이미 등록된 {}입니다".format(category))
        else:
            fruit.append(item)
            print(fruit)
    else:
        if item in vegetable:
            print("이미 등록된 {}입니다".format(category))
        else:
            vegetable.append(item)
            print(vegetable)
    
        
else:
    print("존재하지 않는 카테고리입니다.")

['사과', '오렌지', '바나나']

In [88]:
for k, v in {"name":"tome", "math":80, "english":70}.items():
    print("key: {}, value : {}".format(k, v))

key: name, value : tome
key: math, value : 80
key: english, value : 70

In [89]:
my_dict = {"name":"tome", "math":80, "english":70}
print(len(my_dict))
for k in my_dict:
    print("key: {}, value : {}".format(k, my_dict[k]))

3
key: name, value : tome
key: math, value : 80
key: english, value : 70

In [91]:
for i in range(5):
    print("*"*10, i)
    for i in range(10, 15):
        print("i : ", i)

********** 0
i :  10
i :  11
i :  12
i :  13
i :  14
********** 1
i :  10
i :  11
i :  12
i :  13
i :  14
********** 2
i :  10
i :  11
i :  12
i :  13
i :  14
********** 3
i :  10
i :  11
i :  12
i :  13
i :  14
********** 4
i :  10
i :  11
i :  12
i :  13
i :  14

In [99]:
for x, item in enumerate(fruit):
    print(x,item, sep=", ")

0, 사과
1, 오렌지
2, 바나나

In [95]:
idx = 0
for item in fruit:
    print(f"{idx} => {item}")
    idx += 1

0 => 사과
1 => 오렌지
2 => 바나나

In [100]:
x = [3, 6, 9, 20, -7, 5]

In [101]:
for idx in range(len(x)):
    x[idx] *=  10 
x

[30, 60, 90, 200, -70, 50]

In [102]:
y = {"math": 70, "science": 80, "english": 20}

In [103]:
for score in y:
    y[score]  += 10
y

{'math': 80, 'science': 90, 'english': 30}

In [104]:
dan = int(input("몇단을 출력하시겠습니까?"))

몇단을 출력하시겠습니까?3

In [106]:
for i in range(1, 9):
    print(f"{dan} * {i} = {dan*i}")

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24

In [107]:
i = 0

In [108]:
while i!= 0:
    i = int(input("5를 입력하면 반복이 중단 됩니다"))

5를 입력하면 반복이 중단 됩니다.4
5를 입력하면 반복이 중단 됩니다.0
5를 입력하면 반복이 중단 됩니다.5

In [109]:
score = -1

In [110]:
score_sum = 0
while score != 0:
    score = int(input("값을 입력해주세요"))
    score_sum += score
    
print(f"합계는? {score_sum}")
print("합계는? {0}".format(score_sum))
print("합계는? %d" % score_sum)

값을 입력해주세요30
값을 입력해주세요20
값을 입력해주세요50
값을 입력해주세요40
값을 입력해주세요30
값을 입력해주세요0
합계는? 170

In [116]:
animals = ['dog', 'cat', 'monkey', 'tiger']

In [121]:
for index, animal in enumerate(animals):
    if index % 2 == 1:
        print(index, animal)

1 cat
3 tiger

In [ ]:
a = []