In [ ]:
print("hello world")

### python 연습
* print
* 연산
``` print("hello world") ```

In [ ]:

"""
안녕하세요
1100
월드입니다
"""
print("hello world") # hello world 출력

In [ ]:
x = input("입력해주세요:")
print(x)

In [ ]:
print( 1+2 )

In [ ]:
1-2

In [ ]:
5*3

In [9]:
5/2

2.5

In [ ]:
5//2

In [ ]:
5%2

In [ ]:
2**3

In [ ]:
2 + 3 * 2

In [ ]:
(2 + 3) * 2

In [10]:
int(5/2)

2

In [12]:
x = 20

In [13]:
y = 30

In [14]:
x + y

50

In [15]:
x = 10

In [16]:
x+10

20

In [17]:
x

10

In [18]:
x = x+ 10
x

20

In [19]:
x

20

In [20]:
x += 10

In [21]:
x

30

In [22]:
x = None

In [24]:
print(x)

None

In [25]:
type(x)

NoneType

In [49]:
x = input("첫번재 점수 : ")
y = input("두번재 점수 :")
z = input("세번재 점수 :")

첫번재 점수 : 70
두번재 점수 :80
세번재 점수 :90

In [50]:
print(x)
print(y)
print(z)

70
80
90

In [51]:
print(int(x) > 65 and int(y) > 65 and int(z) > 65)

True

In [32]:
int(y)

30

In [35]:
x

20

In [53]:
word = "apple banana"

In [54]:
word

'apple banana'

In [55]:
len(word)

12

In [56]:
word.upper()

'APPLE BANANA'

In [58]:
word = word.upper()
word

'APPLE BANANA'

In [59]:
word = word.lower()
word

'apple banana'

In [62]:
word = word.replace('apple', 'organe')

In [63]:
word

'organe banana'

In [68]:
name = "tom"

In [69]:
print("I am " + name + "!" )

I am tom!

In [72]:
print("I am%-10s!" % name)

I amtom       !

In [73]:
f1, f2 = "apple", "banana"

In [75]:
print("I like %s, %s"% (f1, f2))

I like apple, banana

In [76]:
n1, n2 = 3, 3.2323

In [79]:
print("n1 = %f, n2=%d" % (n1, n2))

n1 = 3.000000, n2=3

In [83]:
print("n1 = %d, n2 = %7.2f" % (n1, n2))

n1 = 3, n2 =    3.23

In [85]:
input_str = input("아무 문자나 입력해주세요:")

아무 문자나 입력해주세요:안녕하세요 반갑습니다

In [88]:
input_str.replace(" ", "")

'안녕하세요반갑습니다'

In [90]:
name = input("이름을 입력해 주세요:")
score_1 = input("첫번째 점수를 입력해 주세요:")
score_2 = input("두번째 점수를 입력해 주세요:")
score_3 = input("세번째 점수를 입력해 주세요:")

이름을 입력해 주세요:홍길동
첫번째 점수를 입력해 주세요:80
두번째 점수를 입력해 주세요:70
세번째 점수를 입력해 주세요:60

In [91]:
print("저의 이름은 {0} 이고 총점은 {1} 입니다".format(
    name, (int(score_1) + int(score_2) + int(score_3))))

저의 이름은 홍길동 이고 총점은 210 입니다

In [92]:
score = 1000
print(str(score))

1000

In [93]:
print("저의 이름은 "+name+" 이고 총점은 "+str(score)+"입니다")

저의 이름은 홍길동 이고 총점은 1000입니다

### 리스트와 튜플

In [94]:
a = [1, 2, 3, 4, 5, 6, 7]

In [102]:
a = tuple(range(1, 8))
a

(1, 2, 3, 4, 5, 6, 7)

In [100]:
type(range(1, 7))

range

In [103]:
list(range(-8, 8, 3))

[-8, -5, -2, 1, 4, 7]

In [106]:
a = list(range(10, 0, -2))
a

[10, 8, 6, 4, 2]

In [107]:
a[2]

6

In [108]:
a[-2]

4

In [109]:
a[1:3]

[8, 6]

In [110]:
a[1:-3]

[8]

In [111]:
a[1:-1:2]

[8, 4]

In [112]:
a

[10, 8, 6, 4, 2]

In [113]:
a[:3]

[10, 8, 6]

In [114]:
a[2:]

[6, 4, 2]

In [115]:
a[1:3] = ["one", "two"]

In [116]:
a

[10, 'one', 'two', 4, 2]

In [117]:
del a[1]

In [118]:
a

[10, 'two', 4, 2]

In [119]:
del a[1:3]
a

[10, 2]

In [140]:
a = list(range(10))

In [141]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [122]:
a[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [123]:
1 in a

True

In [124]:
12 in a

False

In [125]:
b = [10, 11, 12]

In [126]:
a + b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [153]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, [11, 12], 13, 14]

In [147]:
a.append([11, 12])

In [150]:
a.extend([13, 14])

In [154]:
a.pop(11)
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [11, 12], 13, 14]

In [155]:
a.pop()
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [11, 12], 13]

In [159]:
a.remove([11, 12])
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [160]:
a.insert(5, 10)
a

[0, 1, 2, 3, 4, 10, 5, 6, 7, 8, 9, 10]

In [161]:
 a = [[1, 2], [3, 4], [5, 6]]

In [162]:
b = a.copy()

In [163]:
b[0][0] = 10

In [164]:
a

[[10, 2], [3, 4], [5, 6]]

In [12]:
num = input("숫자를 입력해주세요 : ")

숫자를 입력해주세요 : 20

In [13]:
result = list(range(2, int(num) + 1, 2))

In [15]:
result.append(int(num))

In [16]:
result

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 20]