## Pandas

### 연산과 집계합수

In [28]:
import pandas as pd
import numpy as np

In [2]:
x = pd.Series([1,2,3,4,5])
y = pd.Series([6,7,8,9,0])

In [3]:
# 더하기
print(x.add(10))

0    11
1    12
2    13
3    14
4    15
dtype: int64

In [4]:
print(x.add(y))

0     7
1     9
2    11
3    13
4     5
dtype: int64

In [5]:
# 빼기
print(x.sub(y))

0   -5
1   -5
2   -5
3   -5
4    5
dtype: int64

In [7]:
# 곱하기
print(x.mul(y))

0     6
1    14
2    24
3    36
4     0
dtype: int64

In [8]:
# 나누기
print(x.floordiv(2))

0    0
1    1
2    1
3    2
4    2
dtype: int64

In [9]:
print(x.div(2))

0    0.5
1    1.0
2    1.5
3    2.0
4    2.5
dtype: float64

In [10]:
print(x.mod(2))

0    1
1    0
2    1
3    0
4    1
dtype: int64

In [11]:
# 제곱
print(x.pow(2))

0     1
1     4
2     9
3    16
4    25
dtype: int64

##### 기초통계

In [14]:
print(x.count())

5

In [15]:
print(x.min())

1

In [16]:
print(x.max())

5

In [18]:
print(x.mean())

3.0

In [19]:
print(x.median()) #중간값

3.0

In [20]:
print(x.sum())

15

In [21]:
print(x.std()) #표준편차

1.5811388300841898

In [22]:
print(x.var()) #분산

2.5

In [23]:
print(x.mad()) # 절대표준편차

1.2

In [24]:
print(x.describe()) # 기초통계모두

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [25]:
print(x.head(2)) #앞의 일부데이터

0    1
1    2
dtype: int64

In [26]:
print(x.tail(2)) # 뒤의 일부데이터 확인

3    4
4    5
dtype: int64

#### 실습
     - 아래 코드를 실행하고 Series Y에서 
     1. 결측값의 개수를 구하고
     2. 결측값을 제거한 Series를 만들고
     3. 결측값에 y의 평균값을 넣은 Series를 만들어주세요

In [29]:
x = [np.nan, 1,2,3,4,5]
y = pd.Series([x[np.random.randint(0,6)]for i in range(20)])

In [30]:
x

[nan, 1, 2, 3, 4, 5]

In [31]:
y

0     3.0
1     3.0
2     1.0
3     1.0
4     1.0
5     4.0
6     2.0
7     NaN
8     4.0
9     2.0
10    4.0
11    1.0
12    3.0
13    3.0
14    2.0
15    NaN
16    1.0
17    5.0
18    3.0
19    1.0
dtype: float64

In [32]:
y.isnull().sum()

2

In [33]:
y.dropna()

0     3.0
1     3.0
2     1.0
3     1.0
4     1.0
5     4.0
6     2.0
8     4.0
9     2.0
10    4.0
11    1.0
12    3.0
13    3.0
14    2.0
16    1.0
17    5.0
18    3.0
19    1.0
dtype: float64

In [42]:
y.fillna(y.mean())

0     3.000000
1     3.000000
2     1.000000
3     1.000000
4     1.000000
5     4.000000
6     2.000000
7     2.444444
8     4.000000
9     2.000000
10    4.000000
11    1.000000
12    3.000000
13    3.000000
14    2.000000
15    2.444444
16    1.000000
17    5.000000
18    3.000000
19    1.000000
dtype: float64

#### DataFrame

##### 2차원 테이블  데이터 구조, 엑셀(스프레드시트)와 비슷

In [60]:
sales_data = {"연도":[2015,2016,2017,2018,2019,2020],
             "판매량":[103,70,130,160,190,230],
             "매출":[500000,300000,400000,550000,700000,680000],
             "순이익":[370000,190000,300000,480000,600000,590000]}
sales_data

{'연도': [2015, 2016, 2017, 2018, 2019, 2020],
 '판매량': [103, 70, 130, 160, 190, 230],
 '매출': [500000, 300000, 400000, 550000, 700000, 680000],
 '순이익': [370000, 190000, 300000, 480000, 600000, 590000]}

In [61]:
sales_data = pd.DataFrame(sales_data)

In [62]:
sales_data

     연도  판매량      매출     순이익
0  2015  103  500000  370000
1  2016   70  300000  190000
2  2017  130  400000  300000
3  2018  160  550000  480000
4  2019  190  700000  600000
5  2020  230  680000  590000

In [63]:
sales_data["판매량"]

0    103
1     70
2    130
3    160
4    190
5    230
Name: 판매량, dtype: int64

In [64]:
#행기준으로 데이터 조회
sales_data.iloc[1]

연도       2016
판매량        70
매출     300000
순이익    190000
Name: 1, dtype: int64

In [65]:
# columns - 원하는칼럼, index - 인덱스칼럼
sales_data2 = pd.DataFrame(sales_data,columns=["판매량","매출","순이익"],index=sales_data["연도"])
sales_data2

      판매량  매출  순이익
연도
2015  NaN NaN  NaN
2016  NaN NaN  NaN
2017  NaN NaN  NaN
2018  NaN NaN  NaN
2019  NaN NaN  NaN
2020  NaN NaN  NaN

### CSV 파일읽기, 쓰기
   - 콤마로 데이터가 분리되어있는 텍스트 파일

In [ ]:
#파일 쓰기

In [56]:
# 파일읽기

In [59]:
sales_data = pd.read_csv("sales_data.csv",index_col="연도",header=0, sep=",")
sales_data

FileNotFoundError: [Errno 2] No such file or directory: 'sales_data.csv'