In [1]:
print("hello world")

hello world

### python 연습
- pirnt
- 연산

In [8]:
x = input("입력해주세요:")
print(x)

입력해주세요:5
5

In [9]:
"""
안녕하세요
"""

'\n안녕하세요\n'

In [10]:
print(1+2)

3

In [11]:
1-2

-1

In [12]:
5*3

15

In [13]:
5/2

2.5

In [14]:
5//2

2

In [15]:
5%2

1

In [16]:
2**3

8

In [17]:
2 + 3 * 2

8

In [18]:
(2+3)*2

10

In [25]:
int(5/2)

2

In [26]:
x = 20

In [27]:
y = 30

In [28]:
x+y

50

In [29]:
x = 10

In [30]:
x+10

20

In [31]:
x

10

In [32]:
x = x+ 10
x

20

In [33]:
x

20

In [36]:
x += 10

In [37]:
x

30

In [38]:
x = None

In [40]:
print(x)

None

In [41]:
type(x)

NoneType

In [42]:
x = 20

In [43]:
y = 30

In [44]:
x+y

50

In [45]:
x*y

600

In [46]:
x = input("x 값을 입력해주세요")
y = input("y 값을 입력해주세요")

x 값을 입력해주세요20
y 값을 입력해주세요30

In [48]:
int(x)

20

In [49]:
int(y)

30

In [54]:
20>65 and 70>65 and 80>65

False

In [57]:
70>65 and 80>65 and 90>65

True

In [62]:
x = input("첫번째 점수: ")
y = input("두번째 점수: ")
z = input("셋번째 점수: ")

첫번째 점수: 70
두번째 점수: 80
셋번째 점수: 90

In [64]:
print(int(x) > 65 and int(y) > 65 and int(z) > 65)

True

In [65]:
word = "apple banana"

In [66]:
word

'apple banana'

In [67]:
len(word)

12

In [68]:
word.upper()

'APPLE BANANA'

In [70]:
word = word.upper()
word

'APPLE BANANA'

In [71]:
word = word.lower()
word

'apple banana'

In [75]:
word = word.replace('apple', 'orange')

In [76]:
word

'orange banana'

In [77]:
name = "호빵맨"

In [79]:
print (" I am " + name + "!")

 I am 호빵맨!

In [82]:
print("I am %-10s!"%name)

I am 호빵맨       !

In [83]:
f1,f2 = "apple", "banana"

In [85]:
print(" I like %s, %s" %(f1,f2))

 I like apple, banana

In [86]:
n1,n2 = 3, 3.2323

In [88]:
print("n1 = %f, n2 = %d" %(n1,n2))

n1 = 3.000000, n2 = 3

In [91]:
print("n1 = %d, n2 = %.2f" %(n1,n2))

n1 = 3, n2 = 3.23

In [112]:
word = "안녕하세요 반갑습니다."

In [113]:
word.replace(" ","")

'안녕하세요반갑습니다.'

In [99]:
w = input("이름을 입력해주세요: ")
x = input("첫번째 점수를 입력해 주세요: ")
y = input("두번째 점수를 입력해 주세요: ")
z = input("세번째 점수를 입력해 주세요: ")

이름을 입력해주세요: 홍길동
첫번째 점수를 입력해 주세요: 80
두번째 점수를 입력해 주세요: 70
세번째 점수를 입력해 주세요: 60

In [103]:
print(str(w),int(x)+int(y)+int(z))

홍길동 210

In [114]:
input_str = input("아무 문자나 입력해주세요:")

아무 문자나 입력해주세요:안녕하세요 반갑습니다

In [117]:
input_str.replace(" ","")

'안녕하세요반갑습니다'

In [118]:
name = input("이름을 입력해주세요")
score_1 = input("첫번째 점수를 입력해 주세요:")
score_2 = input("두번째 점수를 입력해 주세요:")
score_3 = input("세번째 점수를 입력해 주세요:")

이름을 입력해주세요홍길동
첫번째 점수를 입력해 주세요:80
두번째 점수를 입력해 주세요:70
세번째 점수를 입력해 주세요:60

In [122]:
print("저의 이름은 {0} 이고 총점은 {1} 입니다.".format(name,
                                         int(score_1)+int(score_2)+int(score_3)))

저의 이름은 홍길동 이고 총점은 210 입니다.

### 리스트와 튜플

In [123]:
a = [1,2,3,4,5,6,7]

In [128]:
a = tuple(range(1,8))
a

(1, 2, 3, 4, 5, 6, 7)

In [129]:
list(range(-8,8,3))

[-8, -5, -2, 1, 4, 7]

In [133]:
a = list(range(10,0,-2))
a

[10, 8, 6, 4, 2]

In [135]:
a[2]

6

In [136]:
a[-2]

4

In [137]:
a[1:3]

[8, 6]

In [138]:
a[1:-3]

[8]

In [139]:
a[1:-1:2]

[8, 4]

In [140]:
a

[10, 8, 6, 4, 2]

In [141]:
a[:3]

[10, 8, 6]

In [142]:
a[2:]

[6, 4, 2]

In [145]:
a[1:3] =["one", "two"]

In [146]:
a

[10, 'one', 'two', 4, 2]

In [147]:
del a[1]

In [148]:
a

[10, 'two', 4, 2]

In [150]:
del a[1:3]
a

[10]

In [151]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [152]:
a[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [153]:
1 in a

True

In [154]:
12 in a

False

In [155]:
b = [10,11,12]

In [156]:
a+b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [161]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [167]:
a.append([11, 12])

In [170]:
a.extend([13,14])

In [172]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, [11, 12], 13, 14]

In [173]:
len(a)

15

In [174]:
a.pop(11)
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [11, 12], 13, 14]

In [175]:
a.pop()
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [11, 12], 13]

In [176]:
a.remove(13)
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [11, 12]]

In [177]:
a.remove([11, 12])
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [178]:
a.insert(5,10)
a

[0, 1, 2, 3, 4, 10, 5, 6, 7, 8, 9, 10]

In [179]:
a = [2,4,6,8,10,10]

In [187]:
a.insert(10,10)
a

[2, 4, 6, 8, 10, 10, 10, 10, 10]

In [188]:
b = [2,4,6,8,10,12,14,16,18,20,20]

In [190]:
b.insert(10,20)
b

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 20, 20, 20]

In [199]:
c = list(range(10))
print(c)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [207]:
d = list(range(10))
d

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [215]:
list(range(5,0,-1))

[5, 4, 3, 2, 1]

In [216]:
list(range(-10,10,2))

[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]

In [222]:
list(range(-9,5,2))

[-9, -7, -5, -3, -1, 1, 3]

In [233]:
num = input("숫자를 입력해주세요:")

숫자를 입력해주세요:20

In [235]:
list(range(2, int(num)+1,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]