In [1]:
word = ["school", "game", "piano", "science", "hotel", "mountain"]

In [3]:
new_word = [i for i in word if len(i) > 5]
print(new_word)

['school', 'science', 'mountain']

In [5]:
new_word1 = [len(i) for i in word]
print(new_word1)

[6, 4, 5, 7, 5, 8]

In [9]:
for i in range(1,10):
    for j in range(1,10):
        print("{} * {} = {}".format(i,j,i*j))

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [16]:
for i in range(1,101):
    if i % 3 == 0 and i % 5 == 0:
        print("3과 5의 공배수")
    elif i % 3 == 0:
        print("3의 배수")
    elif i % 5 == 0:
        print("5의 배수")
    else:
        print(i)

1
2
3의 배수
4
5의 배수
3의 배수
7
8
3의 배수
5의 배수
11
3의 배수
13
14
3과 5의 공배수
16
17
3의 배수
19
5의 배수
3의 배수
22
23
3의 배수
5의 배수
26
3의 배수
28
29
3과 5의 공배수
31
32
3의 배수
34
5의 배수
3의 배수
37
38
3의 배수
5의 배수
41
3의 배수
43
44
3과 5의 공배수
46
47
3의 배수
49
5의 배수
3의 배수
52
53
3의 배수
5의 배수
56
3의 배수
58
59
3과 5의 공배수
61
62
3의 배수
64
5의 배수
3의 배수
67
68
3의 배수
5의 배수
71
3의 배수
73
74
3과 5의 공배수
76
77
3의 배수
79
5의 배수
3의 배수
82
83
3의 배수
5의 배수
86
3의 배수
88
89
3과 5의 공배수
91
92
3의 배수
94
5의 배수
3의 배수
97
98
3의 배수
5의 배수

In [26]:
a = 1
a_sum = 0
while a != 0:
    a = int(input("점수를 입력해주세요: "))
    a_sum += a
print("총합은 {}".format(a,a_sum))

점수를 입력해주세요: 1
점수를 입력해주세요: 2
점수를 입력해주세요: 3
점수를 입력해주세요: 0
총합은 0

In [27]:
a = 1
while a != 0:
    a = int(input("점수를 입력해주세요: "))
    a_sum += a
print("총합은 {}".format(a,a_sum))

점수를 입력해주세요: 1
점수를 입력해주세요: 2
점수를 입력해주세요: 0
총합은 0

In [28]:
a = 1
a_sum = 0
while a != 0:
    a = int(input("점수를 입력해주세요: "))
    a_sum += a
    print("총합은 {}".format(a,a_sum))

점수를 입력해주세요: 1
총합은 1
점수를 입력해주세요: 2
총합은 2
점수를 입력해주세요: 0
총합은 0

In [29]:
a = 1
while a != 0:
    a = int(input("점수를 입력해주세요: "))
    a_sum += a
    print("총합은 {}".format(a,a_sum))

점수를 입력해주세요: 1
총합은 1
점수를 입력해주세요: 2
총합은 2
점수를 입력해주세요: 3
총합은 3
점수를 입력해주세요: 0
총합은 0

In [30]:
a = 1
a_sum = 0
while a != 0:
    a = int(input("점수를 입력해주세요: "))
    a_sum += a
print("총합은 {}".format(a_sum))

점수를 입력해주세요: 1
점수를 입력해주세요: 2
점수를 입력해주세요: 30
점수를 입력해주세요: 0
총합은 33

In [47]:
x = [3,6,9,20,-7,5]
for i in range(6):
    x[i] *= 10
    print(x[i])

30
60
90
200
-70
50

In [51]:
y = {"math":70, "science":80, "english":20}
for i in y:
    y[i] = y[i] + 10
print(y)

{'math': 80, 'science': 90, 'english': 30}

In [67]:
gugu = input("몇단을 출력하시겠습니까?: ")
for i in range(3,4):
    for j in range(1,10):
        print("{} * {} = {}".format(i,j,i*j))

몇단을 출력하시겠습니까?: 2
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [65]:
gugu1 = int(input("몇단을 출력하시겠습니까?:"))
for i in range(1,10):
    print("{} * {} = {} ".format(gugu1,i,gugu1 * i))

몇단을 출력하시겠습니까?:3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [66]:
gugu1 = input("몇단을 출력하시겠습니까?:")
for i in range(1,10):
    print("{} * {} = {} ".format(gugu1,i,gugu1 * i))

몇단을 출력하시겠습니까?:3
3 * 1 = 3
3 * 2 = 33
3 * 3 = 333
3 * 4 = 3333
3 * 5 = 33333
3 * 6 = 333333
3 * 7 = 3333333
3 * 8 = 33333333
3 * 9 = 333333333

In [80]:
words = ["school", "game", "piano", "science", "hotel", "mountain"]
for i in range(len(word)>5):
    print(words)

['school', 'game', 'piano', 'science', 'hotel', 'mountain']

In [91]:
words_1 = ["school", "game", "piano", "science", "hotel", "mountain"]
new_word = []
for i in words_1:
    if (len(words_1)) > 5:
        new_word.append(words_1)

print(new_word)

[['school', 'game', 'piano', 'science', 'hotel', 'mountain'], ['school', 'game', 'piano', 'science', 'hotel', 'mountain'], ['school', 'game', 'piano', 'science', 'hotel', 'mountain'], ['school', 'game', 'piano', 'science', 'hotel', 'mountain'], ['school', 'game', 'piano', 'science', 'hotel', 'mountain'], ['school', 'game', 'piano', 'science', 'hotel', 'mountain']]

In [100]:
a = ["school", "game", "piano", "science", "hotel", "mountain"]

In [104]:
new_a = []
for i in a:
    if (len(i)) > 5:
        new_a.append(i)
        
print(new_a)

['school', 'science', 'mountain']

In [118]:
user = int(input("숫자를 입력하세요:"))
cnt = 0
while True:
    if cnt > user:
        break
    print(cnt)
    cnt += 1

숫자를 입력하세요:20
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [119]:
user = int(input("숫자를 입력해주세요:"))
for i in range(user+1):
    if i % 2 == 1:
        continue
    print(i)

숫자를 입력해주세요:20
0
2
4
6
8
10
12
14
16
18
20

In [120]:
import random
random.randint(1,3)

2

In [183]:
game_dict = {1:"가위",2:"바위",3:"보"}
user = 1
computer = -1
total = 0
win = 0
while user == 1 or user == 2 or user == 3:
    user = int(input("가위(1),바위(2),보(3)를 입력해주세요:"))
    computer = random.randint(1,3)
    if user not in [1,2,3]:
        break
    total += 1
    print("유저:{}, 컴퓨터:{}".format(game_dict[user],game_dict[computer]))
    
    if (user == 1 and computer == 3) or (user == 2 and computer == 1) or (user == 3 and computer == 2):
        win += 1
        
print("게임종료 전체{},승리{}".format(total,win))

가위(1),바위(2),보(3)를 입력해주세요:1
유저:가위, 컴퓨터:바위
가위(1),바위(2),보(3)를 입력해주세요:2
유저:바위, 컴퓨터:가위
가위(1),바위(2),보(3)를 입력해주세요:3
유저:보, 컴퓨터:가위
가위(1),바위(2),보(3)를 입력해주세요:4
게임종료 전체3,승리1